<template>
  <div
    v-if="!hasSymbols()"
    :class="`my-page page-${i}`"
    v-html="$parent.lotusText[`page_${content_i}`]"
  ></div>

  <div v-else :class="`my-page page-${i}`">
    <div v-html="$parent.lotusText[`page_${content_i}`]"></div>

    <div class="characters-block">
      <div v-for="symbol in this.$parent.symbols" :key="symbol.name">
        <img :src="symbolSrc(symbol.filename)" :alt="`${symbol.name}`"/>
        <p>{{ $t(symbol.name) }}</p>
      </div>
    </div>
    
    <div v-html="$parent.lotusText[`page_${content_i}_2`]"></div>
  </div>
</template>


<script>
  export default {
    props: ['i'],
    data: function () {
      return {
        content_i: 1 + (this.i - 1) / 2,
      };
    },

    methods: {
      symbolSrc(filename) { return require(`../assets/images/read/book/${filename}`); },
      hasSymbols() { return this.$parent.pagesWithSymbols.includes(this.content_i) }
    }
  }
</script>