<template>
  <div>
    <footer class="mob-version">
      <div
        class="container position-relative text-center"
      >
        <div class="center-block">
          <div class="px-3 scale-img lang-block" @click="openMenu()">
            <h2 class="text-left" @click="openMenu('lang')">
              {{ $t("languages") }}
            </h2>
            <p
              class="lang-word section-title"
              :class="$i18n.locale !== 'zh' ? 'text-right' : 'text-center'"
            >
              Languages
            </p>
          </div>

          <div class="custom-btn scale-img">
            <NuxtLink to="/feedback">
              {{ $t("write_to_us") }}
              <img
                src="../assets/images/footer/letter.svg"
                alt="bubbles_footer"
                width="25px"
              />
            </NuxtLink>
          </div>
          <div class="d-flex justify-content-between social-media">
            <a
              href="
              https://www.facebook.com/TheLotusStory/"
              class="ml-1 scale-img"
              target="_blank"
            >
              <img
                src="../assets/images/footer/social_fb.svg"
                alt="social_fb"
              />
            </a>
            <a
              href="
               https://insta"
              target="_blank"
              class="scale-img"
            >
              <img
                src="../assets/images/footer/social_insta.svg"
                alt="social_insta"
            /></a>
            <a
              href="
              https://www.youtube.com/channel/UCGZgqN84v6xGkANbP2207QQ"
              target="_blank"
              class="scale-img"
              ><img
                src="../assets/images/footer/social_youtube.svg"
                alt="social_youtube"
            /></a>
          </div>
        </div>
        <p class="text-right copyright-text" v-html="$t('copyright')"></p>

        <img
          class="bubbles_footer"
          src="../assets/images/footer/bubbles_footer.png"
          alt="bubbles_footer"
        />
      </div>
    </footer>
    <footer class="desktop-version">
      <div
        class="container position-relative text-center"
      >
        <!-- <div class="custom-container"></div> -->
        <div
          class="d-flex justify-content-between align-items-end content-block"
        >
          <div class="d-flex justify-content-between social-media mr-3">
            <a
              href="
          https://www.facebook.com/TheLotusStory/"
              class="pointer scale-img"
              target="_blank"
            >
              <img
                src="../assets/images/footer/social_fb.svg"
                alt="social_fb"
              />
            </a>
            <a
              href="
          https://insta"
              target="_blank"
              class="pointer scale-img"
            >
              <img
                src="../assets/images/footer/social_insta.svg"
                alt="social_insta"
            /></a>
            <a
              href="
          https://www.youtube.com/channel/UCGZgqN84v6xGkANbP2207QQ"
              target="_blank"
              class="pointer scale-img"
              ><img
                src="../assets/images/footer/social_youtube.svg"
                alt="social_youtube"
            /></a>
          </div>
          <div>
            <div class="scale lang-block pointer">
              <h2 class="text-left" @click="openMenu()">
                {{ $t("languages") }}
              </h2>
              <p class="lang-word section-title" @click="openMenu()">
                Languages
              </p>
            </div>

            <div class="custom-btn scale-img pointer">
              <NuxtLink to="/feedback">
                {{ $t("write_to_us") }}
                <img
                  src="../assets/images/footer/letter.svg"
                  alt="bubbles_footer"
                  width="25px"
                />
              </NuxtLink>
            </div>
          </div>
        </div>
        <p class="text-right copyright-text" v-html="$t('copyright')"></p>

        <img
          class="bubbles_footer"
          src="../assets/images/footer/bubbles_footer.png"
          alt="bubbles_footer"
        />
      </div>
    </footer>
  </div>
</template>


<script>
export default {
  methods: {
    openMenu() {
      this.$parent.isLangMenuOpen = true;
    },
  },
};
</script>
