<template>
  <div>
    <header class="mob-version">
      <div class="d-flex justify-content-between align-items-end">
        <div class="header_side_block">
          <img
            v-if="!isSoundPlaying"
            @click="isSoundPlaying ? pauseSound() : playSound()"
            alt="scripichnyi_kliuch"
            class="music_icon"
            src="../assets/images/header/music_icon.png"
          />
          <img
            v-else
            @click="isSoundPlaying ? pauseSound() : playSound()"
            alt="scripichnyi_kliuch"
            class="music_icon"
            style="fill: 'red'"
            src="../assets/images/header/scripichnyi_kliuch_grey.png"
          />
        </div>

        <div class="text-center siteTitle scale">
          <NuxtLink to="/">
            <img
              src="../assets/images/header/Logo.png"
              class="mb-3"
              alt="logo"
            />
          </NuxtLink>
        </div>

        <div class="text-right header_side_block">
          <img
            src="../assets/images/header/globus.svg"
            alt="globus"
            class="globus_icon"
            @click="openMenu('lang')"
          />
        </div>
      </div>
      <div
        class="
          d-flex
          justify-content-between
          align-items-end
          mt-2
          mb-2
          header-bottom-block
          silver-text
        "
      >
        <div
          class="header_side_block scale"
          @click="isSoundPlaying ? pauseSound() : playSound()"
        >
          <p class="var-text">
            {{
              isSoundPlaying
                ? $t("pause_music").split("\n")[0]
                : $t("play_music").split("\n")[0]
            }}
          </p>
          <p class="var-text">
            {{
              isSoundPlaying
                ? $t("pause_music").split("\n")[1]
                : $t("play_music").split("\n")[1]
            }}
          </p>
        </div>
        <div class="text-center menu-title scale">
          <p @click="openMenu()">{{ $t("menu") }}</p>
        </div>
        <div class="d-flex justify-content-end header_side_block m-right scale">
          <div class="text-right mr-1" @click="openMenu('lang')">
            <p class="var-text">
              {{ $store.getters["LANGUAGES_LIST"][$i18n.locale].language_name }}
            </p>
            <p
              v-if="
                $i18n.locale !== 'zh' &&
                $i18n.locale !== 'zh-t' &&
                $i18n.locale !== 'ja'
              "
            >
              languages
            </p>
          </div>
        </div>
      </div>
    </header>
    <header class="desktop-version"  :dir="$store.getters['LANG_GROUP'] === 'ltr' ? 'ltr' : 'rtl'">
      <div class="text-center siteTitle d-flex justify-content-between">
        <div class="side-top-block"></div>
        <NuxtLink to="/">
          <img
            src="../assets/images/header/Logo.png"
            class="mb-3 scale-img"
            alt="logo"
            width="250px"
          />
        </NuxtLink>
        <div class="side-top-block">
          <div class="text-right menu-title pointer scale text-uppercase">
            <p @click="openMenu('menu')">{{ $t("menu") }}</p>
          </div>
        </div>
      </div>
      <div
        class="
          d-flex
          justify-content-between
          align-items-end
          header-bottom-block
          silver-text
        "
      >
        <div
          class="
            d-flex
            align-items-end
            silver-text
            header-left-desktop
            toggle-sound
            paused
            side-block
          "
        >
          <img
            src="../assets/images/header/music_icon.png"
            alt="scripichnyi_kliuch"
            class="scale-img music-icon"
          />
          <transition name="fade">
            <div
              class="text-uppercase play-music-div pointer scale side-text"
              @click="isSoundPlaying ? pauseSound() : playSound()"
            >
              <p class="var-text">
                {{
                  isSoundPlaying
                    ? $t("pause_music").split("\n")[0]
                    : $t("play_music").split("\n")[0]
                }}
              </p>
              <p class="var-text">
                {{
                  isSoundPlaying
                    ? $t("pause_music").split("\n")[1]
                    : $t("play_music").split("\n")[1]
                }}
              </p>
            </div></transition
          >
        </div>
        <div>
          <Nav />
        </div>

        <div class="header-right-desktop">
          <div
            class="d-flex justify-content-end align-items-end pointer"
            @click="openMenu('lang')"
          >
            <div class="text-right scale text-uppercase side-text silver-text">
              <p class="var-text">
                {{
                  $store.getters["LANGUAGES_LIST"][$i18n.locale].language_name
                }}
              </p>
              <p>languages</p>
            </div>
            <img
              src="../assets/images/header/globus.svg"
              class="globus-icon scale-img"
              alt="globus"
              width="75"
            />
          </div>
        </div>
      </div>
    </header>
  </div>
</template>

<script>
import audio from "@/assets/audio/Home.mp3";

export default {
  data() {
    return {
      content: [],
      isSoundPlaying: false,
      file: {},
    };
  },

  methods: {
    openMenu(type) {
      type === "lang"
        ? (this.$parent.isLangMenuOpen = true)
        : (this.$parent.isMenuOpen = true);
    },
    playSound() {
      this.file.play();
      this.isSoundPlaying = true;

      this.file.addEventListener(
        "ended",
        function () {
          console.log("ended");
          this.file.play();
        },
        false
      );
    },
    pauseSound() {
      this.file.pause();
      this.isSoundPlaying = false;
    },
  },
  mounted() {
    this.file = new Audio(audio);
    this.file.volume = "0.5";
    this.file.loop = true;
  },
  beforeDestroy() {
    this.file.pause();
  },
};
</script>

