<template  >
  <div>
    <div class="d-flex">
      <ul>
        <p class="closeButton text-uppercase" @click="closeMenu" >
          <!-- {{ $t("close") }} -->
          <img
            src="../assets/images/menu/close_btn.png"
            alt="close"
            width="25px"
          />
        </p>
        <transition name="fade">
          <img
            src="../assets/images/menu/lotus.svg"
            alt="lotus"
            class="lotus"
          />
        </transition>
        <li
          v-for="lang in languages"
          class="pointer d-flex"
          :key="lang.shortcode"
          text-right
          @click="
            () => {
              $i18n.locale = lang.shortcode;
              $i18n.setLocaleCookie(lang.shortcode);
              $store.rtl = rtlLangs.includes($i18n.locale);
              closeMenu();
            }
          "
        >
          <p class="w-50 text-right">
            {{ lang.language_name }}
          </p>
          <p class="w-50 text-left right-column">
            {{ lang.english_name }}
          </p>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      languages: {},
      rtlLangs: ["ar", "he", "fa"],
      rtl: false,
    };
  },

  methods: {
    closeMenu() {
      console.log("esc");
      this.$parent.isLangMenuOpen = false;
    },
  },

  created() {
    this.languages = this.$store.state.languages;
    // delete this.languages.ar
    // delete this.languages.he
    // delete this.languages.fa
  },
};
</script>

<style>
</style>