<template  >
  <transition name="fade">
    <div class="menu-box" :class="$i18n.locale">
      <p
        class="closeButton text-uppercase"
        @click="closeMenu"
        @keydown.esc="closeMenu"
      >
        {{ $t("close") }}
        <img
          src="../assets/images/menu/close_blue.png"
          alt="close"
          width="12px"
        />
      </p>
      <ul>
        <li>
          <NuxtLink to="/"> {{ $t("home_name") }} </NuxtLink>
        </li>
        <li>
          <NuxtLink to="read"> {{ $t("read_name") }} </NuxtLink>
        </li>
        <li>
          <NuxtLink to="watch"> {{ $t("watch") }} </NuxtLink>
        </li>
        <li>
          <NuxtLink to="about"> {{ $t("about_name") }} </NuxtLink>
        </li>

        <li>
          <NuxtLink to="feedback"> {{ $t("write_to_us") }} </NuxtLink>
        </li>

        <li>
          <NuxtLink to="buy-the-book"> {{ $t("buy_the_book") }} </NuxtLink>
        </li>
      </ul>
    </div>
  </transition>
</template>

<script>
export default {
  data() {
    return {
      languages: {},
    };
  },

  methods: {
    closeMenu() {
      this.$parent.isMenuOpen = false;
    },
  },
  watch: {
    $route() {
      this.$parent.isMenuOpen = false;
    },
  },
  created() {
    this.languages = this.$store.state.languages;
  },
};
</script>

<style>
</style>