<template>
  <div :class="`slide slide-${i + 1}`">
    <div :class="`page page-${i * 2 - 1}`"></div>

    <div
      v-if="!hasSymbols()"
      class="text"
      v-html="$parent.lotusText[`page_${i}`]"
    ></div>

    <div
      v-else
      class="text">
      <div v-html="$parent.lotusText[`page_${i}`]"></div>
      
      <div class="characters-block">
        <div class="character" v-for="symbol in this.$parent.symbols" :key="symbol.name">
          <img :src="symbolSrc(symbol.filename)" :alt="`${symbol.name}`"/>
          <p>{{ $t(symbol.name) }}</p>
        </div>
      </div>

      <div v-html="$parent.lotusText[`page_${i}_2`]"></div>
    </div>

  </div>
</template>


<script>
  export default {
    props: ['i'],
    
    methods: {
      symbolSrc(filename) { return require(`../assets/images/read/book/${filename}`); },
      hasSymbols() { return this.$parent.pagesWithSymbols.includes(this.i) }
    }
  }
</script>