    <template>
  <div>
    <nav class="mob-version">
      <div class="d-flex justify-content-between flex-wrap container mb-1">
        <NuxtLink class="nav-link" to="read"> {{ $t("read_name") }} </NuxtLink>
        <NuxtLink class="nav-link" to="watch"> {{ $t("watch") }} </NuxtLink>
        <NuxtLink class="nav-link" to="about">
          {{ $t("about_name") }}
        </NuxtLink>
        <NuxtLink class="nav-link" to="buy-the-book">
          {{ $t("buy_the_book") }}
        </NuxtLink>
        <!-- <NuxtLink class="nav-link" to="#"> КУПИТЬ КНИГУ </NuxtLink> -->
      </div>
    </nav>
    <div class="desktop-version">
      <nav
        class="d-flex justify-content-between text-center silver-text"
      >
        <NuxtLink
          key="read"
          class="nav-link scale"
          to="read"
        >
          {{ $t("read_name") }}
        </NuxtLink>
        <NuxtLink
          key="watch"
          class="nav-link scale"
          to="watch"
        >
          {{ $t("watch") }}
        </NuxtLink>
        <NuxtLink
          key="reviews"
          class="nav-link scale"
          to="about"
          :class="$i18n.locale"
        >
          {{ $t("about_name") }}
        </NuxtLink>
        <NuxtLink
          key="buy"
          class="nav-link scale"
          to="buy-the-book"
          >{{ $t("buy_the_book") }}</NuxtLink
        >
      </nav>
    </div>
  </div>
</template>

<style scoped>

</style>