<template>
  <div>
    <header class="mob-version">
      <div class="d-flex justify-content-between align-items-end">
        <div class="header_side_block">
          <img
            v-if="!isSoundPlaying"
            @click="isSoundPlaying ? pauseSound() : playSound()"
            alt="scripichnyi_kliuch"
            class="music_icon"
            src="../assets/images/header/music_icon.png"
          />
          <img
            v-else
            @click="isSoundPlaying ? pauseSound() : playSound()"
            alt="scripichnyi_kliuch"
            class="music_icon"
            style="fill: 'red'"
            src="../assets/images/header/scripichnyi_kliuch_grey.png"
          />
        </div>

        <div class="text-center siteTitle scale">
          <NuxtLink to="/">
            <img
              src="../assets/images/header/Logo.png"
              class="mb-3"
              alt="logo"
            />
          </NuxtLink>
        </div>

        <div class="text-right header_side_block">
          <img
            src="../assets/images/header/globus.svg"
            alt="globus"
            class="globus_icon"
            @click="openMenu('lang')"
          />
        </div>
      </div>
      <div
        class="
          d-flex
          justify-content-between
          align-items-end
          mt-2
          mb-2
          header-bottom-block
          silver-text
        "
      >
        <div
          class="header_side_block scale"
          :class="$i18n.locale"
          @click="isSoundPlaying ? pauseSound() : playSound()"
        >
          <p class="var-text">
            {{
              isSoundPlaying
                ? $t("pause_music").split(" ")[0]
                : $t("play_music").split(" ")[0]
            }}
          </p>
          <p class="var-text">
            {{
              isSoundPlaying
                ? $t("pause_music").split(" ")[1]
                : $t("play_music").split(" ")[1]
            }}
          </p>
        </div>
        <div class="text-center menu-title scale" :class="$i18n.locale">
          <p @click="openMenu()">{{ $t("menu") }}</p>
        </div>
        <div class="d-flex justify-content-end header_side_block m-right scale">
          <div
            class="text-right mr-1"
            :class="$i18n.locale"
            @click="openMenu('lang')"
          >
            <p class="var-text">
              {{ $store.getters["LANGUAGES_LIST"][$i18n.locale].language_name }}
            </p>
            <p
              v-if="
                $i18n.locale !== 'zh' &&
                $i18n.locale !== 'zh-t' &&
                $i18n.locale !== 'ja'
              "
            >
              languages
            </p>
          </div>
        </div>
      </div>
      <div class="header-toggler" @click="toggleMobHeader()"></div>
    </header>
    <header
      class="desktop-version little-header"
      :dir="$store.getters['LANG_GROUP'] === 'ltr' ? 'ltr' : 'rtl'"
    >
      <div class="d-flex justify-content-between align-items-center">
        <div class="text-center siteTitleLittleHeader header-left-desktop">
          <NuxtLink to="/" class="mr-3">
            <img
              src="../assets/images/header/Logo.png"
              class="little-scale-img"
              alt="logo"
            />
          </NuxtLink>
        </div>
        <Nav />

        <div
          class="
            d-flex
            justify-content-end
            header-right-desktop
            align-items-end
          "
        >
          <div class="d-flex align-items-end pointer" @click="openMenu('lang')">
            <div class="d-flex silver-text">
              <div class="text-right scale text-uppercase">
                <p>
                  {{
                    $store.getters["LANGUAGES_LIST"][$i18n.locale].language_name
                  }}
                </p>
                <p>languages</p>
              </div>
            </div>
            <img
              src="../assets/images/header/globus.svg"
              class="globus-icon"
              alt="globus"
            />
          </div>
          <div class="text-center menu-title pointer scale text-uppercase">
            <p @click="openMenu('menu')">{{ $t("menu") }}</p>
          </div>
        </div>
      </div>
    </header>
  </div>
</template>

<script>
// import Nav from "./Nav.vue";
// import Menu from "./Menu.vue";
// import LangMenu from "./LangMenu.vue";
import audio from "@/assets/audio/Home.mp3";

export default {
  data() {
    return {
      content: [],
      isSoundPlaying: false,
      file: new Audio(audio),
    };
  },
  // components: { Nav, Menu, LangMenu },

  methods: {
    openMenu(type) {
      type === "lang"
        ? (this.$parent.isLangMenuOpen = true)
        : (this.$parent.isMenuOpen = true);
    },
    playSound() {
      this.file.loop = true;
      this.file.play();
      this.isSoundPlaying = true;
    },
    pauseSound() {
      this.file.pause();
      this.isSoundPlaying = false;
    },
    toggleMobHeader() {
      this.$parent.isMobHeaderOpen = !this.$parent.isMobHeaderOpen;
    },
  },
  beforeDestroy() {
    this.file.pause();
  },
};
</script>
