.about {
  font-family: "OpenSans-Regular";
  width: 100%;
  overflow: hidden;
  box-shadow: inset 0px 25px 15px -10px rgba(104, 101, 101, 0.151);
  -webkit-box-shadow: inset 0px 25px 15px -10px rgba(104, 101, 101, 0.151);
  -moz-box-shadow: inset 0px 25px 15px -10px rgba(104, 101, 101, 0.151);
  .about-desktop {
    display: none;
  }
  h2 {
    text-align: center;
    color: #6dbccc;
    padding: 0 6vw 0;
    text-transform: uppercase;
    line-height: 1;
    font-size: 8vw;
    z-index: 3;
  }
  h3 {
    line-height: 1;
    color: #6dbccc;
    padding: 0 6vw 0;
    margin-bottom: 0;
    font-size: 7.5vw;
  }
  p {
    color: #a0a0a0;
    padding: 3vw 6vw 0;
    font-size: 5.4vw;
    z-index: 3;
  }

  .line-parent {
    position: relative;
    height: 100%;
    .line-img {
      position: absolute;
      height: 92%;
      z-index: 2;
      top: 6%;

      @media (min-width: 450px) {
        height: 93%;
        right: 20%;
      }
    }
  }
  .world-1 {
    img {
      width: auto;
      height: 327.8px;
    }
    z-index: 3;
    display: flex;
    position: relative;
    justify-content: flex-end;
  }
  .world-2 {
    img {
      width: auto;
      height: 354.5px;
    }
    .seed {
      position: absolute;
      z-index: 4;
      width: 256px;
      height: auto;
      top: -50px;
      right: 0;
    }
    position: relative;
    margin-top: 55px;
    display: flex;
    justify-content: flex-start;
  }
  .world-3 {
    img {
      width: auto;
      height: 325.5px;
    }
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
  }
  .world-4 {
    img {
      width: auto;
      height: 353.9px;
    }
    margin-top: 30px;
  }
  .world-5 {
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: flex-end;
    img {
      width: auto;
      height: 324px;
    }
  }
  .text-section-1 {
    width: 86%;
    padding-top: 5px;
    p {
      text-indent: 29px;
    }
  }
  .text-section-2 {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    p {
      width: 80%;
      text-indent: 29px;
    }
  }
  .text-section-3 {
    margin-top: 37px;
    width: 70%;
  }
  .text-section-4 {
    margin-top: 55px;
    margin-bottom: 30px;

    h2,
    p {
      width: 80%;
    }
    p {
      text-align: right;
    }
  }
  .text-section-5 {
    margin-top: 32px;
    margin-bottom: 30px;

    p {
      padding-right: 75px;
      text-align: left;
    }
  }
  .divider {
    width: 205px;
    border-width: 0 0 5px;
    margin: auto;
    border-style: solid;
    border-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 1" width="8" height="4"><circle fill="rgb(160, 160, 160)" cx="1" cy="0.5" r="0.5"></circle></svg>')
      0 0 100% repeat;
  }
  .section-author {
    white-space: pre-line;
    background-image: url("../images/about/Author-background.png");
    background-size: cover;
    .text-section-author {
      margin-top: 55px;
      margin-bottom: 30px;
      h2 {
        text-transform: none;
      }
      p {
        text-indent: 29px;
        text-align: left;
      }
    }
    img {
      transform: translate(-19%, 0);
      width: auto;
      height: 351.4px;
      margin-bottom: 120px;
    }
  }

  @media (min-width: 360px) {
    .text-section-1 {
      width: 78%;
    }
  }
  @media (min-width: 390px) {
    h3 {
      font-size: 29.2px;
    }
    h2 {
      font-size: 42.9px;
    }
    p {
      font-size: 21.1px;
    }
  }
  @media (min-width: 420px) {
    .line-parent .line-img {
      height: 93%;
      right: 20%;
    }
    .text-section-3 {
      width: 72%;
    }
    .world-2 .seed {
      width: 50vw;
      right: 10vw;
    }
  }
  @media (min-width: 470px) {
    .text-section-2 p {
      width: 70%;
    }
  }
  @media (min-width: 580px) {
    h3 {
      font-size: 35px;
      padding: 0 8vw 0;
    }
    h2 {
      font-size: 51.5px;
      padding: 0 8vw 0;
    }
    p {
      font-size: 25.3px;
      padding: 3vw 8vw 0;
    }
    .text-section-4 {
      p,
      h2 {
        width: 70%;
      }
    }
    .world-1 img {
      height: 393.4px;
    }
    .world-2 img {
      height: 425.4px;
    }
    .world-3 img {
      height: 390.6px;
    }
    .world-4 img {
      height: 424.7px;
    }
    .world-5 img {
      height: 388.8px;
    }

    .text-section-2 p {
      width: 60%;
    }
  }
  @media (min-width: 805px) {
    .about-mob {
      display: none;
    }
    .about-desktop {
      display: block;
    }
    .world-1 {
      position: relative;
      img {
        height: 327.8px;
      }
      .seed {
        width: 55%;
        height: auto;
        bottom: -20%;
        right: 25%;
        transform: translate(-50%, -50%);
        z-index: 4;
      }
    }
    .world-2 {
      img {
        height: 354.5px;
      }
    }
    .world-3 img {
      height: 325.5px;
    }
    .world-4 img {
      height: 353.9px;
    }
    .world-5 img {
      height: 324px;
    }
    h2 {
      padding: 0 1vw 0;

      font-size: 5.2vw;
    }
    h3 {
      padding: 0 1vw 0;
      font-size: 4vw;
    }
    p {
      padding: 1vw 1vw 0;
      font-size: 2.7vw;
      margin-bottom: 0;
    }
    .text-section-1 {
      padding-top: 35px;
      // padding-left: 25px;
      padding-left: 3vw;
    }

    .text-section-2 {
      padding-right: 3vw;
      p {
        width: 100%;
      }
    }
    .text-section-3 {
      padding-left: 3vw;
    }
    .text-section-4 {
      padding-right: 3vw;
      p,
      h2 {
        width: 92%;
      }
    }
    .text-section-5 {
      padding-left: 3vw;
      h2,
      p {
        width: 85%;
      }
      p {
        padding-right: 1vw;
      }
    }
    .divider {
      padding-top: 35px;
    }
    .section-author {
      padding-bottom: 250px;
      background-position: center;
      background-image: url("../images/about/Author-background-desktop.png");
      .img-section-author {
        width: 40%;
        padding-top: 75px;
        img {
          width: 100%;
          height: auto;
          margin-bottom: 0;
          transform: none;
        }
      }
      .text-section-author {
        width: 60%;
        padding-right: 3vw;
      }
    }
    .line-parent .line-img {
      height: 87%;
      top: 6%;
      right: 28%;
    }
  }
  @media (min-width: 890px) {
    .text-section-4 {
      p,
      h2 {
        width: 80%;
      }
    }
  }
  @media (min-width: 985px) {
    h2 {
      padding: 0 1vw 0;

      font-size: 51.2px;
    }
    h3 {
      padding: 0 1vw 0;
      font-size: 39.4px;
    }
    p {
      padding: 1vw 1vw 0;
      font-size: 26.6px;
      margin-bottom: 0;
    }
    .world-1,
    .world-2,
    .world-3,
    .world-4,
    .world-5 {
      img {
        width: 100%;
        height: auto;
      }
    }
    .world-1 {
      width: 53%;
    }
    .text-section-1 {
      padding-top: 45px;
      width: 47%;
    }
    .world-2 {
      width: 57%;
      margin-top: 15px;

      .seed {
        width: 48%;
      }
    }
    .text-section-2 {
      width: 43%;
    }
    .world-3,
    .world-4,
    .world-5 {
      width: 51%;
    }

    .text-section-3,
    .text-section-4,
    .text-section-5 {
      width: 49%;
    }
  }
  @media (min-width: 1080px) {
    .world-4 {
      margin-top: 0;
    }
    .text-section-4 {
      p,
      h2 {
        width: 88%;
      }
    }
    .section-author {
      padding-bottom: 210px;
    }
  }
  @media (min-width: 1200px) {
    h2 {
      padding: 0 2vw 0;

      font-size: 51.2px;
    }
    h3 {
      padding: 0 2vw 0;
      font-size: 39.4px;
    }
    p {
      padding: 1vw 2vw 0;
      font-size: 26.6px;
      margin-bottom: 0;
    }
    .line-parent .line-img {
      top: 5%;
      right: 33%;
    }
    .text-section-1,
    .text-section-3,
    .text-section-5 {
      padding-left: 5vw;
    }
    .text-section-2,
    .text-section-4 {
      padding-right: 5vw;
    }
    .text-section-4 {
      p,
      h2 {
        width: 88%;
      }
    }
    .section-author .text-section-author {
      padding-right: 5vw;
    }
    .world-1 .seed {
      width: 55%;
      height: auto;
      bottom: -10%;
      right: 30%;
      transform: translate(-50%, -50%);
      z-index: 4;
    }
  }
  @media (min-width: 1500px) {
    .world-1 {
      width: 54%;
      .seed {
        width: 55%;
        height: auto;
        bottom: -14%;
        right: 37%;
        transform: translate(-50%, -50%);
        z-index: 4;
      }
    }
    .text-section-1,
    .text-section-3,
    .text-section-5 {
      padding-right: 7vw;
      padding-left: 7vw;
    }
    .text-section-2,
    .text-section-4 {
      padding-right: 7vw;
      padding-left: 7vw;
    }
    .section-author .text-section-author {
      padding-right: 7vw;
    }
  }

 
}

