.buy-the-book {
  font-family: "OpenSans-Regular";
  box-shadow: inset 0px 25px 15px -10px rgba(104, 101, 101, 0.151);
  -webkit-box-shadow: inset 0px 25px 15px -10px rgba(104, 101, 101, 0.151);
  -moz-box-shadow: inset 0px 25px 15px -10px rgba(104, 101, 101, 0.151);
  background-image: url("../images/buyTheBook/background.jpg");
  background-size: cover;
  background-position-x: 20%;
  h2 {
    text-align: left;
    color: #6dbccc;
    padding: 0 15vw 0;
    line-height: 1;
    font-size: 13vw;
  }
  h3 {
    line-height: 1;
    color: #6dbccc;
    padding: 0 15vw 0;
    margin-bottom: 0;
    font-size: 8.5vw;
    text-align: right;
  }
  p {
    color: #a0a0a0;
    padding: 0 10vw 0;
    font-size: 5.4vw;
  }
  a {
    text-decoration: none;
  }
  .title-1-rows {
    display: none;
  }
  .section-1 {
    text-align: center;
    height: 375px;
    background-image: url("../images/buyTheBook/farbe.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    padding-top: 75px;
    margin-bottom: 25px;
    .book-cover-img {
      height: 280px;
    }
  }
  .section-2 {
    // text-align: center;
    white-space: pre-line;
  }
  .section-3 {
    text-align: center;
    background-image: url("../images/buyTheBook/background.jpg");
    background-size: 390%;
    background-position: 85% 0%;
    background-repeat: no-repeat;
    padding-top: 85px;
    padding-bottom: 415px;
    .amazon-bubble-box {
      width: 100%;
    }
    .amazon-bubble {
      width: 45%;
    }
  }
  .buy-btn {
    margin-top: 40px;
    margin-bottom: 75px;
    display: block !important;
    color: #fefefe;
    background-image: url("../images/home/homepage_btn_border.svg");
  }
  @media (min-width: 425px) {
    .section-1 {
      padding-top: 85px;
      margin-bottom: 95px;
      .book-cover-img {
        height: 350px;
      }
    }
    .section-2 {
      text-align: left;
      h2 {
        font-size: 55px;
      }
      h3 {
        font-size: 36px;
      }
      p {
        font-size: 23px;
      }
      h2,
      h3,
      p {
        width: 90%;
        margin: 0 auto;
      }
    }
    .section-3 .amazon-bubble {
      width: 250px;
    }
  }
  @media (min-width: 650px) {
    .title-2-rows {
      display: none;
    }
    .title-1-rows {
      display: block;
    }
    .section-1 {
      padding-top: 85px;
      margin-bottom: 55px;
      height: 425px;
      .book-cover-img {
        height: 350px;
      }
    }
    .section-2 h2 {
      width: 100%;
      font-size: 50px;
      text-align: center;
      margin-bottom: 0;
    }
    .section-3 {
      background-size: 300%;
      background-position: 90% 20%;
    }
  }
  @media (min-width: 850px) {
    .section-1 {
      margin-bottom: 95px;
      height: 525px;
      .book-cover-img {
        height: 450px;
      }
    }
    .section-2 {
      h2 {
        width: 100%;
        font-size: 50px;
        text-align: center;
        margin-bottom: 0;
      }
      p {
        margin-bottom: 65px;
      }
    }
    .section-3 {
      background-size: 250%;
      background-position: 93% 30%;
    }
  }
  @media (min-width: 1080px) {
    padding: 80px 0 120px;
    .section-1-2 {
      width: 60%;
      .section-1 {
        margin-bottom: 0;
        height: 325px;
        width: 50%;
        background-size: contain;
        padding-top: 85px;
        margin-bottom: 50px;
        .book-cover-img {
          width: 75%;
          height: auto;
        }
      }
      .section-2 {
        width: 50%;
        .title-2-rows {
          display: block;
        }
        .title-1-rows {
          display: none;
        }
        h2 {
          font-size: 3.4vw;
          text-align: left;
          padding: 0 15px;
        }
        h3 {
          padding: 0 25px 0 15px;
          font-size: 2.6vw;
          margin-bottom: 15px;
          width: 100%;
        }
        p {
          font-size: 1.6vw;
          padding: 0 15px;
          width: auto;
          margin-top: 25px;
          margin-bottom: 0;        }
      }
      .buy-btn {
        margin-top: 0px;
        margin-bottom: 75px;
      }
    }
    .section-3 {
      background: none;
      width: 40%;
      padding-top: 0;

      .book-arrow-block {
        width: 270px;
        svg {
          width: 100%;
          height: 50px;
          overflow: visible;
        }
        img {
          margin-left: 100px;
          width: 70%;
          margin-top: -15px;
        }
      }
      .amazon-bubble-box {
        text-align: left;
        padding-left: 65px;
        padding-top: 55px;
        .amazon-bubble {
          width: 55%;
        }
      }
    }
  }

  @media (min-width: 1250px) {


  }
  @media (min-width: 1350px) {
    padding: 100px 0 120px;

    .section-1-2 {
      width: 55%;
      .section-1 {
        height: 465px;
        padding-top: 115px;
        padding-left: 35px;
        margin-bottom: 0px;

        .book-cover-img {
          width: 70%;
        }
      }
      .section-2 {
        max-width: 365px;
        margin: auto;
        h2 {
          font-size: 50px;
        }
        h3 {
          font-size: 35px;
          margin-bottom: 35px;
        }
        p {
          font-size: 21px;
         
        }
      }
    }
    .section-3 {
      .amazon-bubble-box {
        padding-left: 125px;
        .amazon-bubble {
        width: 175px;
      }}
    }
  }
  @media (min-width: 1500px) {
    padding-top: 145px;
    .section-2{
      h2 {
        font-size: 50px;
      }
      h3 {
        font-size: 35px;
        margin-bottom: 35px;
      }
      p {
        font-size: 23px;
        margin-bottom: 55px;
      }
    }
  }
}
