.feedback {
  box-shadow: inset 0px 25px 15px -10px rgba(104, 101, 101, 0.151);
  -webkit-box-shadow: inset 0px 25px 15px -10px rgba(104, 101, 101, 0.151);
  -moz-box-shadow: inset 0px 25px 15px -10px rgba(104, 101, 101, 0.151);
  .section-1 {
    background-image: url("../images/feedback/background.jpg");
    height: 415px;
    background-position: 80% 0%;
    background-size: 295%;
    padding: 55px 25px 0;
    color: #0c739a;
    .email {
      width: 300px;
      margin: auto;
      .letter-img {
        width: 62px;
        transform: rotate(10);
        margin-bottom: 12px;
      }
      h1 {
        margin-bottom: 13px;
      }

      .email-border {
        border-top: 3px solid white;
        width: 65px;
      }
      p {
        padding-top: 18px;
        font-size: 19px;
        font-weight: bold;
        font-family: "OpenSans-Regular";

      }
    }
  
  }
  .section-2 {
    background-image: url("../images/feedback/background.jpg");
    background-position: top left;
    background-size: cover;
    padding-top: 55px;
    padding-bottom: 115px;
    form {
      font-weight: 600;
      color: #888886;
      width: 300px;
      margin: auto;
      height: 585px;
      input.transparent-input,
      textarea.transparent-input {
        background-color: rgba(245, 245, 245, 0.548);
        width: 100%;
        border-radius: 20px;
        border: 2px solid #a3a3a0b9;
      }
      textarea.transparent-input {
        min-height: 100px;
      }

      .custom-btn {
        margin-top: 25px;
        display: block !important;
        color: #fefefe;
        background-image: url("../images/home/homepage_btn_border.svg");
      }
      .thankyou-text {
        height: 24px;
        color: #0c739a;
        text-align: center;
      }
    }
  }
  @media (min-width: 400px) {
    .section-1 {
      background-size: 250%;
      background-position: top right;
    }
  }
  @media (min-width: 460px) {
    .section-1 {
      background-size: 250%;
      background-position: 80% 50%;
    }
  }
  @media (min-width: 740px) {
    .section-1 {
      padding: 110px 25px 0;
      background-size: cover;
      background-position: 80% 50%;
    }
  }
  @media (min-width: 1080px) {
    display: flex;
    background-image: url("../images/feedback/background.jpg");
    background-position: bottom right;
    background-size: cover;
    order: 2;
    padding-top: 100px;
    .section-1 {
      width: 50%;
      background: none;
      order: 2;
      padding-top: 24px;
      .email {
        width: initial;
      }
    }
    .section-2 {
      width: 50%;
      background: none;
      order: 1;
      padding-top: 0;
      padding-bottom: 50px;
    }
  }
  @media (min-width: 1400px) {
    .section-2 {
      form {
        width: 520px;
      }
    }
  }
}
