footer {
  .container {
    background: url("../images/footer/background_footer.png");
    z-index: 6;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -205px;
    margin-right: 0;
    margin-left: 0;
    width: 100%;
    max-width: 100%;
    height: 550px;
  }
  .bubbles_footer {
    position: absolute;
    bottom: 0;
    left: -50px;
    width: 190px;
    z-index: 1;
  }
  .center-block {
    width: 230px;
    margin: 0 auto;
    padding-top: 130px;
  }
  h2 {
    font-size: 38px;
    font-weight: 700;
    font-family: "OpenSans-Regular";
    color: #ffffff;
    line-height: 80%;
    margin-bottom: 4px;
  }
  .lang-block:hover {
    h2,
    p {
      color: #f0bb5d !important;
    }
  }
  .lang-word {
    font-size: 20px;
    font-weight: 400;
    line-height: 80%;
    padding-left: 80px;
    text-transform: uppercase;
    margin-bottom: 26px;
    color: #ffffff;
  }
  .custom-btn {
    background-image: url("../images/footer/cloud.svg");
    width: 230px;
    a {
      color: rgba(89, 92, 92, 0.774);
      text-decoration: none;
    }
  }
  .social-media {
    margin-top: 50px;
    a {
      z-index: 2;
    }
    img {
      width: 60px;
    }
  }
  .review-btn-text {
    font-family: "OpenSans-Regular";
    color: rgba(89, 92, 92, 0.774);
    font-size: 20px;
    top: 20px;
    z-index: 3;
    word-spacing: -1px;
  }

  .feedback-btn {
    z-index: 3;
    margin-bottom: 45px;
  }
  .copyright-text {
    padding-top: 40px;
    width: 50%;
    margin-left: auto;
    margin-right: 15px;
    font-size: 10px;
    line-height: 1.2;
  }
  @media (min-width: 740px) {
    .bubbles_footer {
      width: 230px;
    }
    .center-block {
      width: 300px;
      padding-top: 140px;
    }
    .container {
      height: 550px;
    }
    .copyright-text {
      padding-top: 50px;
      width: 30%;
    }
    .social-media {
      margin-top: 40px;
      padding-left: 15px;
      padding-right: 15px;
      img {
        width: 70px;
      }
    }
    h2 {
      font-size: 45px;
    }
    .lang-word {
      margin-bottom: 50px;
      font-size: 22px;
    }
    .custom-btn {
      width: 300px;
    }
  }
  @media (min-width: 1080px) {
    .container {
      margin-top: -110px;
      padding: 170px 10% 0;
      height: 550px;

      .content-block {
        // width: 100%;
        .social-media img {
          width: 75px;
          margin-right: 20px;
        }
        .bubbles_footer {
          width: 300px;
          bottom: 0;
          left: 100px;
        }
        h2 {
          font-size: 52px;
          margin-bottom: 10px;
        }
        .lang-word {
          font-size: 31px;
          margin-bottom: 32px;
          margin-left: 35px;
          text-align: left;
        }
      }
    }
    .custom-btn {
      width: 300px;
    }
    .copyright-text {
      padding-top: 100px;
      width: 500px;
      margin-right: 0;
    }
  }
  @media (min-width: 1080px) {
    .container {
      padding: 170px 15% 0;
    }
  }
  @media (min-width: 1600px) {
    .container {
      .bubbles_footer {
        width: 250px;
      }
    }
  }
  @media (min-width: 1700px) {
    .container {
      padding: 190px 15% 0;
      height: 570px;
    }
  }
 
}
