header {
  padding: 20px 15px 0;
  margin-bottom: 20px;
  // margin: 0 0 20px 0;
  .globus_icon {
    margin-right: -5px;
    height: 50px;
  }
  .music_icon {
    height: 55px;
  }
  .header_side_block {
    width: 100px;
    text-transform: uppercase;
  }
  .siteTitle img {
    width: 150px;
  }

  .header-bottom-block {
    p {
      margin-bottom: 0;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 0.8px;
    }
    .menu-title {
      font-weight: 800;
      font-family: "OpenSans-Regular";
      cursor: pointer;
      -webkit-text-stroke: 1px #f1b13f;
      text-transform: uppercase;
      p {
        font-size: 22px;
        color: #f1b13f;
        line-height: 1;
        margin-top: 15px;
      }
    }
  }
  //lang

  @media (min-width: 740px) {
    padding: 25px 35px 0;

    .globus_icon {
      height: 75px;
      margin-right: -7px;
    }
    .music_icon {
      height: 90px;
    }
    .siteTitle img {
      width: 220px;
    }
    .header_side_block {
      width: 115px;
    }
    .header-bottom-block {
      p {
        font-size: 18px;
      }
      .menu-title p {
        font-size: 36px;
      }
    }
  }
  @media (min-width: 1080px) {
    padding: 30px 3% 0;
    margin-bottom: 70px;
    .music-icon {
      margin-right: 20px;
    }
    .siteTitleLittleHeader {
      img {
        width: 200px;
      }
    }
    .header-bottom-block {
      margin-top: -20px;
    }
    .menu-title {
      font-family: "OpenSans-Regular";
      color: #f1b13f;
      margin-left: 10px;
      font-weight: 600;
      letter-spacing: 0.8px;
      -webkit-text-stroke: 1px #f1b13f;
      text-align: right;
      font-size: 24px;
      font-size: 2.4vw;
      margin-top: -5px;
    }
    .header-left-desktop {
      .play-music-div {
        margin-left: -7px;
        width: 100px;
        line-height: 1.5;
      }

      .music-icon {
        width: 44px;
      }
    }

    .side-text {
      p {
        margin-bottom: 0;
        font-size: 12px;
        letter-spacing: 0.8px;
      }
    }
    .header-right-desktop {
      // height: 100px;
      .d-flex {
        margin-right: -10px;
      }
    }

    .header-left-desktop,
    .header-right-desktop,
    .side-top-block {
      width: 160px;
    }
    .silver-text {
      font-weight: 600;
    }
  }
  .nav-link {
    color: #f1b13f;
  }
  .nav-link:hover,
  .toggle-sound:hover,
  .side-text:hover {
    color: #f1b13f;
  }

  @media (min-width: 1200px) {
    margin-bottom: 50px;
  }
  @media (min-width: 1500px) {
    .menu-title {
      font-size: 36px;
    }
  }
  @media (min-width: 1600px) {
    margin-bottom: 70px;
  }
}
.little-header {
  padding-top: 20px;
  margin-bottom: 25px;
  .header-left-desktop {
    width: 180px;
    img {
      width: 160px;
    }
  }

  .header-right-desktop {
    width: 270px;
    .globus-icon {
      height: 55px;
      margin-left: 5px;
      margin-right: 5px;
    }
    p {
      margin-bottom: 0;
    }
    .silver-text {
      font-size: 12px;
      margin-right: 3px;
    }
    .menu-title {
      line-height: 1;
      font-size: 2.7vw;
      @media (min-width: 1200px) {
        font-size: 32.5px;
      }

    }
    img {
      margin-bottom: 3px;
    }
  }
  .nav-link {
    padding-top: 27px;
    padding-left: 11px;
    padding-right: 11px;
  }
}


