.home {
  .section-1 {
    height: 365px;
    background: url("../images/home/section-1/bacground_mobile.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 30px;
    @media (min-width: 480px) {
      height: 450px;
    }
    @media (min-width: 580px) {
      height: 550px;
    }
    @media (min-width: 700px) {
      height: 650px;
    }
    @media (min-width: 820px) {
      height: 750px;
    }
    @media (min-width: 975px) {
      height: 780px;
    }
  }
  .section-2,
  .section-3 {
    .nav-link {
      font-family: "OpenSans-Regular";
      font-size: 22px;
      font-weight: 800;
      letter-spacing: 1px;
      color: #ffffff;
    }
  }

  .section-2 {
    height: 250px;
    margin-top: 10px;
    .blue-bubble {
      margin-top: 50px;
      position: relative;
      background: url("../images/home/section-2/blue_bubble.png");
      background-repeat: no-repeat;
      min-width: 145px;
      height: 145px;
      z-index: 1;
      padding-top: 25px;
      background-size: contain;
      background-position: center center;
    }
  }
  .section-3 {
    height: 230px;
    margin-bottom: 35px;
    .boy-background {
      top: -280px;
      z-index: 0;
      left: 50%;
      transform: translate(-230px, 0);
      width: 246px;
    }
    .girl-background {
      width: 244px;
      z-index: 0;
      bottom: 85px;
      left: 50%;
      transform: translate(10px, 0);
    }
    .little-purple-bubble {
      margin-left: -10px;
      position: relative;
      background: url("../images/home/section-3/purple_little_bubble.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
      width: 87px;
      height: 87px;
      z-index: 5;
      background-size: contain;
    }
    .big-purple-bubble {
      z-index: 5;
      margin-top: 85px;
      background: url("../images/home/section-3/purple_bubble.png");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
      position: relative;
      width: 120px;
      height: 120px;
      padding-top: 52px;
    }
  }
  .section-4 {
    font-family: "OpenSans-Regular";
    width: 70%;
    margin: 0 auto 55px;

    h2 {
      color: #f1b13f;
      margin-bottom: 20px;
      font-size: 38px;
      font-weight: 700;
      line-height: 95%;
    }
    p {
      font-size: 22px;
    }
    @media (min-width: 590px) {
      width: 410px;
    }
  }
  .section-5 {
    padding-top: 20px;
    overflow: hidden;
    h2 {
      font-size: 38px;
      font-weight: 700;
      font-family: "OpenSans-Regular";
      color: #f1b13f;
      line-height: 80%;
    }

  
    .comments-title-block {
      width: 74%;
      margin: auto;
      @media (min-width: 450px) {
        margin-left: 70px;
      }
    }
    .background-section-5 {
      padding: 65px 5px 0;
      background: url("../images/home/section-5/background_section_5.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      height: 1510px;
      background-position: center center;
    }
    .section-title {
      font-size: 18px;
      color: #f1b13f;
    }
    .comment-block {
      height: 685px;
      // div {
      //   display: flex;
      //   align-items: center;
      // }
    }
    .comment-body {
      word-spacing: 4px;
      letter-spacing: 0.4px;
      text-indent: 26px;
      font-style: italic;
      font-size: 18px;
      color: #6e727a;
      font-weight: 600;
      position: relative;
      width: 92%;
      max-width: 330px;
      margin: 120px auto 30px;
      @media (min-width: 380px) {
        width: 85%;
        max-width: 300px;
        line-height: 1.6;
        padding-top: 0;
        margin: 130px auto 30px;
      }
    }
    .el .comment-body {
      line-height: 1.2;
    }
    .comment-author {
      font-size: 18px;
      max-width: 330px;
      color: #5e626a;
      padding-top: 8px;
      text-align: right;
      padding-right: 25px;
      margin: -10px auto 60px;
      z-index: 7;
    }
    .custom-btn {
      display: block !important;
      margin-top: 10px;
      color: #fefefe;
      background-image: url("../images/home/homepage_btn_border.svg");
      @media (min-width: 380px) {
        margin-top: 25px;
      }
    }
    .close-btn {
      display: block;
      margin-left: auto;
    }
    .images-carousel {
      .slick-arrow {
        display: none !important;
      }
      .slick-list {
        overflow: visible;
      }
    }
    .fishes-feedback-section,
    .lotus-feedback-section {
      height: 470px;
      position: relative;
      img {
        position: absolute;
        z-index: 5;
      }
    }
    .fishes-feedback-section {
      .left-fish {
        top: 50px;
        left: -110px;
        width: 400px;
      }
      .right-fish {
        bottom: -300px;
        right: -40px;
        width: 390px;
      }
      .left-bubbles {
        width: 100px;
      }
      .right-bubbles {
        bottom: -50px;
        right: -40px;
        width: 170px;
      }
    }
    .lotus-feedback-section {
      .right-butterfly {
        right: 40px;
        top: 30px;
        width: 150px;
      }
      .left-butterfly {
        width: 180px;
        top: 160px;
        left: 40px;
      }
      .lotus {
        width: 590px;
        bottom: -170px;
        right: -80px;
      }
    }
    .slick-next:before {
      content: url("../images/home/feedback-section/feedback-arrow-right.svg");
      filter: drop-shadow(3px 3px 2px rgba(70, 69, 69, 0.37));
    }
    .slick-prev:before {
      content: url("../images/home/feedback-section/feedback-arrow-left.svg");
      filter: drop-shadow(3px 3px 2px rgba(70, 69, 69, 0.37));
    }
    .slick-dots {
      bottom: 10px !important;
      margin-left: -15px;
    }
    .slick-dots li button:before {
      color: #2c29299a;
      font-size: 10px;
      left: 10px;
    }
    .slick-dots li.slick-active button:before {
      color: #f1b13f;
    }

    form {
      font-weight: 600;
      color: #888886;
      width: 300px;
      margin: auto;
      margin-top: 75px;
      height: 585px;
      input.transparent-input,
      textarea.transparent-input {
        background-color: rgba(245, 245, 245, 0.548);
        width: 290px;
        border-radius: 20px;
        border: 2px solid #a3a3a0b9;
      }
      textarea.transparent-input {
        min-height: 100px;
      }
      .custom-btn {
        color: #fefefe;
        margin-top: 60px;
      }
    }
    .thankyou-text {
      width: 450px;
      margin: 160px auto 0;
      font-family: "OpenSans-Regular";
      color: #048aaf;
    }
  }


  @media (min-width: 740px) {
    .section-1 {
      margin-bottom: 110px;
    }
    .section-2,
    .section-3 {
      .nav-link {
        font-size: 26px;
      }
    }
    .section-2 {
      .blue-bubble {
        width: 175px;
        height: 175px;
        padding-top: 35px;
        background-size: cover;
      }
    }
    .section-3 {
      .boy-background {
        left: 35%;
        width: 320px;
        top: -320px;
      }
      .girl-background {
        width: 285px;
        left: 60%;
      }
      .little-purple-bubble {
        margin-left: -50px;
        background-size: cover;
        width: 100px;
        height: 100px;
        z-index: 5;
        margin-right: 30px;
      }
      .big-purple-bubble {
        margin-top: 55px;
        background-size: cover;
        width: 140px;
        height: 140px;
        padding-top: 63px;
      }
    }
    .section-4 {
      padding-top: 50px;
      margin-bottom: 85px;
      width: 550px;
      h2 {
        font-size: 45px;
      }
      p {
        font-size: 26px;
        word-spacing: 4px;
      }
    }
    .section-5 {
      .background-section-5 {
        padding-top: 120px;
      }
    
      .custom-btn {
        margin-top: 105px;
      }
      .fishes-feedback-section {
        .left-fish {
          top: 30px;
          width: 490px;
        }
        .right-fish {
          bottom: -330px;
          width: 540px;
        }
        .left-bubbles {
          width: 130px;
          top: -60px;
          left: 40px;
        }
        .right-bubbles {
          right: 30px;
          width: 220px;
        }
      }
      .lotus-feedback-section {
        .right-butterfly {
          right: 70px;
          top: -80px;
          width: 250px;
        }
        .left-butterfly {
          width: 240px;
          top: 100px;
          left: 40px;
        }
        .lotus {
          width: 720px;
        }
      }
      .comment-body {
        max-width: 550px;
        font-size: 22px;
        line-height: 1.4;
        font-weight: 400px;
        margin-bottom: 20px;
      }
      .comment-author {
        font-size: 22px;
        padding-top: 15px;
        margin-bottom: 25px;
        max-width: 550px;
      }
      h2 {
        font-size: 45px;
      }
     
      .comments-title-block {
        margin-left: 50px;
      }
    }
  }
  @media (min-width: 1080px) {
    .section-1 {
      height: inherit;
      background: none;
      margin-bottom: 20px;
      .video-wraper {
        text-align: right;
      }
      video {
        width: 120%;
        margin-left: -18%;
      }

      .nav-link {
        font-family: "OpenSans-Regular";
        font-size: 22px;
        font-weight: 800;
        letter-spacing: 1px;
        color: #ffffff;
      }
     
      .links-block {
        position: absolute;
        right: 30px;
        bottom: 50px;
        .blue-bubble,
        .little-purple-bubble,
        .big-purple-bubble {
          z-index: 1;
          background-repeat: no-repeat !important;
          position: relative !important;
          background-size: contain !important;
          background-position: center center !important;
        }
        .boy-background {
          top: -110px;
          z-index: 0;
          right: -250px;
          transform: translate(-230px, 0);
          width: 235px;
        }
        .girl-background {
          width: 275px;
          z-index: 0;
          bottom: -65px;
          right: -130px;
          transform: translate(10px, 0);
        }
        .blue-bubble {
          background: url("../images/home/section-2/blue_bubble.png");
          width: 135px;
          height: 135px;
          right: 30px;
          top: 30px;
          padding-top: 60px;
        }
        .little-purple-bubble {
          background: url("../images/home/section-3/purple_little_bubble.png");
          width: 87px;
          height: 87px;
          right: 90px;
          top: 20px;
        }
        .big-purple-bubble {
          background: url("../images/home/section-3/purple_bubble.png");
          width: 110px;
          height: 110px;
          padding-top: 52px;
          right: 30px;
          top: 10px;
        }
      }
    }
    .section-4 {
      width: 780px;
      margin-bottom: 100px;
      h2 {
        margin-bottom: 30px;
        font-size: 52px;
        line-height: 85%;
        letter-spacing: 0.7px;
      }
      p {
        font-size: 25px;
      }
    }
    .section-5 {
      overflow: visible;
      h2 {
        position: relative;
        z-index: 6;
        margin-left: 6%;
        font-size: 52px;
        letter-spacing: 0.7px;
      }
    
      .background-section-5 {
        height: 850px;
        padding-top: 200px;
        background: no-repeat
          url("../images/home/section-5/background_section_5_desktop.png");
        background-size: cover;
        background-position: initial;
        margin-top: -65px;
      }
      .comment-block {
        position: relative;
        z-index: 6 !important;
        width: 85%;
        margin-left: 15%;
        margin-bottom: 0;
      }
      .comment-body {
        padding: 0;
        line-height: 160%;
        word-spacing: 3px;
        text-indent: 45px;
        letter-spacing: 0.08px;
        font-size: 23px;
        color: #787b83de;
        margin-right: 0 !important;
      }
      .comment-author {
        font-weight: 400;
        font-size: 25px;
        width: 500px;
        padding-top: 30px;
        color: #787b83;
      }
      .custom-btn {
        margin-top: 80px;
      }
      .fishes-feedback-section img,
      .lotus-feedback-section img {
        position: absolute;
        z-index: 5;
      }
      .fishes-feedback-section {
        position: relative;
        width: 50%;
        .left-fish {
          top: -50px;
          left: 0px;
          width: 420px;
        }
        .right-fish {
          bottom: -330px;
          right: -30px;
          width: 510px;
        }
        .left-bubbles {
          top: -150px;
          left: 110px;
          width: 120px;
        }
        .right-bubbles {
          bottom: 70px;
          right: 30px;
          width: 230px;
        }
      }
      .lotus-feedback-section {
        position: relative;

        .lotus {
          width: 780px;
          right: -130px;
          bottom: -180px;
          z-index: 4;
        }
        .left-butterfly {
          width: 200px;
          top: 70px;
          left: 80px;
        }
        .right-butterfly {
          width: 250px;
          top: -160px;
        }
      }
      .slick-prev {
        left: 7px;
        z-index: 7;
      }
      .slick-next {
        z-index: 7;
        right: -48vw;
      }
      .slick-next:before {
        content: url("../images/home/feedback-section/feedback-arrow-right.svg");
        display: block;
        transform: scale(1.7);
      }
      .slick-prev:before {
        content: url("../images/home/feedback-section/feedback-arrow-left.svg");
        display: inline-block;
        transform: scale(1.7);
      }
      .slick-dots {
        bottom: -55px !important;
      }
      .modal-content {
        border-radius: 10px !important;
      }

      form {
        width: 550px;
        margin-top: -10px;
        margin: auto;
        height: 585px;
        input.transparent-input,
        textarea.transparent-input {
          width: 550px;
        }
        .custom-btn {
          color: #fefefe;
          margin-top: 60px;
        }
      }
      .thankyou-text {
        margin-top: 50px;
        color: #048aaf;
      }
    }
  }
  @media (min-width: 1150px) {
    .section-1 {
      video {
        width: 110%;
      }
    }
  }
  @media (min-width: 1200px) {
    .section-1 {
      video {
        width: 100%;
      }
      margin-bottom: 45px;

      .links-block {
        .boy-background {
          width: 255px;
        }
        .girl-background {
          width: 290px;
          bottom: -80px;
          right: -140px;
        }
        .blue-bubble {
          right: 40px;
          top: 30px;
        }
        .little-purple-bubble {
          right: 105px;
          top: 10px;
        }
        .big-purple-bubble {
          right: 40px;
          top: 0px;
        }
      }
    }
    .section-4 {
      margin-bottom: 75px;
    }
    .section-5 {
      .background-section-5 {
        height: 730px;
        padding-top: 160px;
      }
      
      .comment-block {
        position: relative;
        z-index: 6 !important;
        margin-left: 65px;
        width: inherit;
      }
      .comment-body {
        font-size: 21px;
        max-width: 430px;
        margin: auto !important;
      }
      .fishes-feedback-section {
        .left-fish {
          top: -20px;
          left: -90px;
          width: 420px;
        }
        .right-fish {
          bottom: -300px;
          right: -30px;
          width: 510px;
        }

        .left-bubbles {
          top: -120px;
          left: 30px;
          width: 110px;
        }
        .right-bubbles {
          bottom: 150px;
          right: 130px;
          width: 165px;
        }
      }
      .lotus-feedback-section {
        .right-butterfly {
          width: 220px;
        }
        .left-butterfly {
          top: 50px;
          left: 120px;
        }
        .lotus {
          width: 750px;
          right: -90px;
          bottom: -100px;
        }
      }
      .modal-content {
        border-radius: 10px !important;
      }
    }
  }
  @media (min-width: 1400px) {
    .section-1 {
      .links-block {
        .boy-background {
          width: 285px;
          top: -130px;
        }
        .girl-background {
          width: 310px;
          bottom: -90px;
          right: -140px;
        }
        .blue-bubble {
          right: 50px;
          top: 30px;
        }
        .little-purple-bubble {
          right: 115px;
          top: 10px;
        }
        .big-purple-bubble {
          right: 50px;
          top: 0px;
          line-height: 1;
        }
      }
    }
    .section-5 {
      .background-section-5 {
        height: 785px;
      }
      .comment-body {
        padding-top: 40px;
      }
      .slick-dots {
        bottom: -30px !important;
      }
      .custom-btn {
        margin-top: 55px;
      }
      .lotus-feedback-section {
        .right-butterfly {
          width: 240px;
          right: 130px;
        }
        .left-butterfly {
          left: 150px;
        }
        .lotus {
          width: 780px;
          bottom: -150px;
        }
      }
      .fishes-feedback-section {
        .left-fish {
          top: -50px;
          left: -90px;
          width: 460px;
        }
        .right-fish {
          bottom: -350px;
          right: -30px;
          width: 550px;
        }

        .left-bubbles {
          left: 50px;
        }
        .right-bubbles {
          bottom: 170px;
          right: 170px;
          width: 175px;
        }
      }
      form {
        margin-top: 10px;
      }
      .thankyou-text {
        margin-top: 110px;
        color: #048aaf;
      }
    }
  }
  @media (min-width: 1500px) {
    .section-1 {
      margin-bottom: 95px;
      .links-block {
        .boy-background {
          width: 295px;
          top: -140px;
        }
        .girl-background {
          width: 320px;
          bottom: -90px;
          right: -140px;
        }
        .blue-bubble {
          right: 50px;
          top: 30px;
          width: 145px;
          height: 145px;
          padding-top: 70px;
        }
        .little-purple-bubble {
          right: 125px;
          top: 8px;
          width: 100px;
          height: 100px;
        }
        .big-purple-bubble {
          right: 50px;
          top: -10px;
          width: 120px;
          height: 120px;
          padding-top: 60px;
        }
      }
    }
    .section-4 {
      margin-bottom: 105px;
    }
    .section-5 {
      .fishes-feedback-section {
        .left-bubbles {
          top: -140px;
        }
        .right-bubbles {
          bottom: 180px;
          right: 275px;
        }
      }
    }
  }
  @media (min-width: 1600px) {
    .section-5 {
      .lotus-feedback-section {
        .right-butterfly {
          width: 270px;
          top: -190px;
        }
        .lotus {
          width: 820px;
        }
      }
      .fishes-feedback-section {
        .left-fish {
          width: 480px;
        }
        .right-fish {
          width: 570px;
        }
      }
    }
  }
  @media (min-width: 1700px) {
    .section-1 {
      margin-bottom: 125px;
      .links-block {
        .boy-background {
          width: 350px;
          top: -180px;
        }
        .girl-background {
          width: 375px;
        }
        .blue-bubble {
          right: 80px;
          top: 10px;
          width: 165px;
          height: 165px;
          padding-top: 90px;
        }
        .little-purple-bubble {
          right: 185px;
          top: -25px;
          width: 120px;
          height: 120px;
        }
        .big-purple-bubble {
          right: 90px;
          top: -40px;
          width: 140px;
          height: 140px;
          padding-top: 75px;
        }
      }
    }
    .section-4 {
      margin-bottom: 125px;
    }
    .section-5 {
      .comment-title-block {
        padding-left: 100px;
      }
      .background-section-5 {
        height: 820px;
      }
      .comment-body {
        padding-top: 60px;
      }
      .lotus-feedback-section {
        .right-butterfly {
          width: 290px;
          right: 190px;
        }
        .left-butterfly {
          width: 230px;
        }
        .lotus {
          width: 900px;
          bottom: -205px;
        }
      }
      .fishes-feedback-section {
        .left-fish {
          width: 510px;
        }
        .left-bubbles {
          left: 80px;
        }
        .right-bubbles {
          bottom: 130px;
          right: 290px;
          width: 205px;
        }
        .right-fish {
          width: 620px;
          bottom: -380px;
          right: -10px;
        }
      }
      form {
        margin-top: 50px;
      }
      .thankyou-text {
        margin-top: 150px;
      }
    }
  }
  @media (min-width: 1900px) {
    .section-5 .comment-body {
      padding-top: 80px;
    }
  }
}
