.el {
  nav {
    justify-content: space-around !important;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 25px;
    .nav-link {
      text-transform: capitalize;
      padding-top: 12px;
    }
  }
  .home {
    @media (min-width: 1080px) {
      .section-1 {
        .nav-link {
          font-weight: 400;
          font-size: 20px;
          line-height: 1;
        }
        .blue-bubble {
          width: 165px;
          height: 165px;
          padding-top: 85px;
        }
        .little-purple-bubble {
          width: 115px;
          height: 115px;
        }
        .big-purple-bubble {
          width: 165px;
          height: 165px;
          padding-top: 85px;
        }
      }
    }
    .section-2 {
      .blue-bubble {
        height: 159px;
        width: 159px;
      }
      .nav-link {
        font-weight: 400;
        font-size: 17px;
      }
      @media (min-width: 740px) {
        .blue-bubble {
          height: 179px;
          width: 179px;
        }
        .nav-link {
          font-size: 24px;
          margin-left: -8px;
        }
      }
    }
    .section-3 {
      .little-purple-bubble {
        height: 95px;
        width: 95px;
      }
      .big-purple-bubble {
        height: 139px;
        width: 139px;
        a {
          margin-top: 12px;
        }
      }
      .nav-link {
        font-weight: 400;
        font-size: 15px;
        line-height: 1;
      }
      @media (min-width: 740px) {
        .nav-link {
          font-size: 20px;
          margin-left: -7px;
        }
        .little-purple-bubble {
          height: 115px;
          width: 115px;
        }
        .big-purple-bubble {
          height: 159px;
          width: 159px;
          a {
            margin-top: 12px;
          }
        }
      }
    }
  }
}
.geo .home {
  @media (min-width: 1080px) {
    .section-1 .big-purple-bubble {
      width: 165px;
      height: 165px;
      padding-top: 85px;
    }
  }
  .section-3 {
    .big-purple-bubble {
      height: 145px;
      width: 145px;
      a {
        margin-top: 12px;
      }
    }

    @media (min-width: 740px) {
      .big-purple-bubble {
        height: 179px;
        width: 179px;
        a {
          margin-top: 18px;
        }
      }
    }
  }
}
.ro .home {
  @media (min-width: 1080px) {
    .section-1 .blue-bubble {
      width: 155px;
      height: 155px;
      padding-top: 75px;
    }
  }
}
.zh,
.zh-t {
  header,
  .little-header {
    nav {
      .nav-link {
        font-size: 3.5vw;
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
      }
    }
    .menu-title {
      font-size: 3.5vw;
    }

    @media (min-width: 1520px) {
      .menu-title,
      nav .nav-link {
        font-size: 53px;
      }
      @media (min-width: 1600px) {
        margin-bottom: 25px;
      }
    }
  }
  .mob-version {
    .header_side_block {
      width: 27vw;
      .var-text {
        font-weight: 500;
        font-size: 5vw;
        @media (min-width: 620px) {
          font-size: 32px;
        }
      }
    }
    .header-bottom-block {
      align-items: center !important;
      .menu-title {
        -webkit-text-stroke: 0px;
        p {
          margin-top: 0 !important;
          font-size: 12vw;
          @media (min-width: 450px) {
            font-size: 54px;
          }
        }
      }
    }
  }
  .header_side_block {
    @media (min-width: 650px) {
      .music_icon {
        height: 90px;
      }
      .globus_icon {
        height: 75px;
      }
    }
  }
  .header-right-desktop .globus-icon {
    margin-left: 5px;
  }
  .home {
    .section-1 {
      .nav-link {
        font-weight: 500;
      }
      .blue-bubble {
        //  background-size: 105%;
        font-size: 3.3vw;
        padding-top: 57px;
        padding-left: 0.7rem;
      }
      .big-purple-bubble {
        font-size: 2.5vw;
        padding-left: 0.8rem;
        padding-top: 53px;
      }
      @media (min-width: 1350px) {
        .blue-bubble {
          font-size: 44.5px;
        }
        .big-purple-bubble {
          font-size: 33.8px;
        }
      }
      @media (min-width: 1400px) {
        .big-purple-bubble {
          padding-top: 61px;
        }
      }
      @media (min-width: 1500px) {
        .blue-bubble {
          padding-top: 65px;
        }
        .big-purple-bubble {
          padding-top: 67px;
        }
      }
      @media (min-width: 1700px) {
        .blue-bubble {
          padding-top: 72px;
        }
        .big-purple-bubble {
          padding-top: 75px;
        }
      }
    }
    .section-2 {
      .nav-link {
        font-weight: 500;
        font-size: 38px;
        padding-top: 30px;
        margin-left: -2px;
        @media (min-width: 740px) {
          font-size: 45px;
          margin-left: -10px;
        }
      }
    }

    .section-3 {
      .nav-link {
        font-weight: 500;
        margin-left: -6px;
        font-size: 30px;
        @media (min-width: 740px) {
          font-size: 38px;
          margin-left: -7px;
        }
      }
    }
    .section-4 h2,
    .section-5 h2 {
      font-size: 34px;
      @media (min-width: 1080px) {
        font-size: 54px;
      }
    }
    @media (min-width: 1080px) {
      .section-4 {
        width: 720px;
        p {
          font-size: 38px;
        }
      }
    }
    .section-5 {
      .comment-body {
        @media (min-width: 1080px) {
          font-size: 30px;
          font-weight: 500;
        }
      }

      .custom-btn {
        padding-top: 15px;
        @media (min-width: 740px) {
          padding-top: 24px;
        }
      }
    }
  }
  footer .lang-word {
    padding-left: 50px;
  }
}
.zh,
.zh-t {
  .desktop-version {
    nav {
      .nav-link {
        font-size: 4vw;
        font-weight: 500;
      }
    }
    .menu-title {
      font-size: 4vw;
      font-weight: 500;
    }
    .var-text {
      font-size: 1.5vw;
    }
    .section-1 .nav-link {
      font-size: 1.5vw;
    }
    .siteTitle img {
      @media (min-width: 650px) {
        width: 220px;
      }
    }
    @media (min-width: 1390px) {
      .menu-title,
      nav .nav-link {
        font-size: 55px;
        line-height: 1;
      }
      .var-text {
        font-size: 21.7px;
      }
      .siteTitle img {
        width: 250px;
      }
    }
  }
  header {
    @media (min-width: 1600px) {
      margin-bottom: 50px;
    }
  }
  .about {
    h2 {
      font-size: 14vw;
    }
    h3 {
      font-size: 9vw;
    }
    p {
      font-size: 7vw;
    }
    @media (min-width: 480px) {
      h2 {
        font-size: 76px;
      }
      h3 {
        font-size: 48px;
      }
      p {
        font-size: 38px;
      }
    }
    @media (max-width: 480px) {
      .text-section-3 {
        width: 65%;
      }
    }
  }
}

.ja {
  font-family: "Yumin-Regular";
  h2,
  .nav-link,
  .header-bottom-block .menu-title,
  .section-5 form .thankyou-text,
  footer h2,
  .home,
  .menu-title {
    font-family: "Yumin-Regular";
  }
  .little-header .menu-title {
    font-size: 2.2vw;
    font-weight: 500;
  }
  nav .nav-link {
    font-size: 2.3vw;
    font-weight: 500;
  }
  .section-1,
  .section-2,
  .section-3 {
    .nav-link {
      font-weight: 500;
    }
  }
  @media (min-width: 1380px) {
    .little-header .menu-title {
      font-size: 30px;
    }
    nav .nav-link {
      font-size: 32px;
      line-height: 1;
    }
  }
}
.zh-t,
.ja,
.zh {
  .text-section-3,
  .text-section-4,
  .text-section-5 {
    h2 {
      display: none;
    }
  }
}
.vi {
  font-family: "Vietnamish-Regular";
  h2,
  .buy-the-book,
  .about,
  .nav-link,
  .section-1 .nav-link,
  .section-2 .nav-link,
  .section-3 .nav-link,
  .section-4,
  .section-5 h2,
  .section-5 form .thankyou-text,
  footer h2,
  .custom-btn,
  .home {
    font-family: "Vietnamish-Regular";
  }
}
.vi {
  font-family: "Vietnamish-Regular";
  h2,
  .buy-the-book,
  .about,
  .nav-link,
  .section-1 .nav-link,
  .section-2 .nav-link,
  .section-3 .nav-link,
  .section-4,
  .section-5 h2,
  .section-5 form .thankyou-text,
  footer h2,
  .custom-btn,
  .home {
    font-family: "Vietnamish-Regular";
  }
}
.arm {
  font-family: "Mariam-Regular";
  h2,
  .buy-the-book,
  .about,
  .nav-link,
  .section-1 .nav-link,
  .section-2 .nav-link,
  .section-3 .nav-link,
  .section-4,
  .section-5 h2,
  .section-5 form .thankyou-text,
  footer h2,
  .custom-btn,
  .home {
    font-family: "Mariam-Regular";
  }
}

.zh,
.zh-t {
  font-family: "Kaiti-Regular";
  h2,
  .buy-the-book,
  .about,
  .nav-link,
  .section-1 .nav-link,
  .section-2 .nav-link,
  .section-3 .nav-link,
  .section-4,
  .section-5 h2,
  .section-5 form .thankyou-text,
  footer h2,
  .custom-btn,
  .home,
  nav,
  .header-bottom-block .menu-title,
  .menu-title {
    font-family: "Kaiti-Regular";
  }
}
.he {
  font-family: "Hebrew-Regular";
  h2,
  .buy-the-book,
  .about,
  .nav-link,
  .section-1 .nav-link,
  .section-2 .nav-link,
  .section-3 .nav-link,
  .section-4,
  .section-5 h2,
  .section-5 form .thankyou-text,
  footer h2,
  .custom-btn,
  .home,
  nav,
  .menu-title {
    font-family: "Hebrew-Regular";
  }
}
.en .about,
.el .about,
.hu .about,
.it .about,
.kk .about,
.ky .about {
  h2 {
    font-size: 9vw;
    @media (min-width: 350px) {
      font-size: 7.5vw;
    }
    @media (min-width: 715px) {
      font-size: 7vw;
    }
    @media (min-width: 805px) {
      font-size: 40px;
    }
  }
  .text-section-3 {
    width: 65%;
  }
  .text-section-4 {
    h2,
    p {
      @media (min-width: 515px) and(max-width: 580px) {
        width: 70%;
      }
      @media (min-width: 750px) and(max-width: 804px) {
        width: 65%;
      }
    }
  }
}

.de .about,
.dut .about {
  h2 {
    font-size: 7vw;
    @media (min-width: 400px) {
      font-size: 6vw;
    }
    @media (min-width: 715px) {
      font-size: 5vw;
    }
    @media (min-width: 805px) {
      font-size: 40px;
      background-color: rgba(255, 255, 255, 0.733);
      position: relative;
    }
    @media (min-width: 1400px) {
      font-size: 50px;
    }
  }
  .text-section-4 {
    h2,
    p {
      @media (min-width: 515px) and(max-width: 580px) {
        width: 70%;
      }
      @media (min-width: 750px) and(max-width: 804px) {
        width: 65%;
      }
    }
  }
  .text-section-5 h2 {
    padding-top: 50px;
  }
}
.arm .about {
  h2 {
    font-size: 5.5vw;

    @media (min-width: 395px) {
      font-size: 5vw;
    }
    @media (min-width: 580px) {
      font-size: 4.5vw;
    }
    @media (min-width: 805px) {
      font-size: 3.2vw;
    }
    @media (min-width: 1200px) {
      font-size: 38px;
    }
  }
  .text-section-3 {
    @media (min-width: 395px) and(max-width: 804px) {
      width: 70%;
    }
  }
  .text-section-4 {
    h2,
    p {
      @media (min-width: 395px) and(max-width: 695px) {
        width: 75%;
      }
      @media (min-width: 695px) and(max-width: 804px) {
        width: 70%;
      }
    }
  }
}

.lv .about,
.pl .about {
  // h2 {
  //   font-size: 9vw;
  //   @media (min-width: 350px) {
  //     font-size: 7.2vw;
  // }

  //   @media (min-width: 805px) {
  //     font-size: 40px;
  //   }
  // }
  // .text-section-1 {
  //   width: 75%;
  // }
  // .text-section-2 p {
  //   @media (min-width: 320px) and(max-width: 465px) {
  //     width: 72%;
  //   }
  //   @media (min-width: 465px) and(max-width: 665px) {
  //     width: 65%;
  //   }
  //   @media (min-width: 665px) and(max-width: 804px) {
  //     width: 60%;
  //   }
  // }

  // .text-section-3 {
  //   @media (min-width: 320px) and(max-width: 465px) {
  //     width: 65%;
  //   }
  //   @media (min-width: 465px) and(max-width: 804px) {
  //     width: 70%;
  //   }
  // }
  // .text-section-4 {
  //   h2,
  //   p {
  //     @media (min-width: 515px) and(max-width: 580px) {
  //       width: 70%;
  //     }
  //     @media (min-width: 750px) and(max-width: 804px) {
  //       width: 65%;
  //     }
  //   }
  // }
}
.pl .about {
  h2 {
    font-size: 9vw;
    @media (min-width: 350px) {
      font-size: 7.5vw;
    }
    @media (min-width: 715px) {
      font-size: 6.5vw;
    }
    @media (min-width: 805px) {
      font-size: 40px;
    }
  }
  .text-section-2 p {
    @media (min-width: 435px) and(max-width: 650px) {
      width: 70%;
    }
    @media (min-width: 651px) and(max-width: 804px) {
      width: 60%;
    }
  }
  .text-section-4 {
    h2,
    p {
      @media (min-width: 500px) and(max-width: 804px) {
        width: 70%;
      }
    }
  }
}
