.langMenu {
  // [v-cloak] {
  //   display: none;
  // }
  background-color: #188BCF;
  background-image: url("../images/menu/lang-background.jpg");
  background-size: cover;
  width: 100%;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  z-index: 10;
  font-family: "OpenSans-Regular";
  padding-top: 0px;

  .menu-shade {
    position: absolute;
    z-index: 9;
    width: 100%;
    height: 100px;
    padding-top: 100vh;
  }
  ul {
    list-style: none;
    text-align: center;
    padding-left: 0;
    font-size: 22px;
    // width: 70%;
    margin: auto;

    a {
      color: white;
      transition: all 0.5s;
      text-decoration: none;
    }
    p {
      margin-bottom: 4px;
      margin-right: 9px;
      margin-left: 9px;
    }
    li {
      margin-bottom: 5px;
      transition: all 0.5s;

      &:hover {
        color: #ffc107;
        transition: all 0.5s;
        p {
          transition: all 0.6s;
          margin-right: 25px;
          margin-left: 25px;
        }
      }
    }
  }
  .closeButton {
    cursor: pointer;
    font-size: 24px;
    text-align: right;
    margin-right: 30px;
    margin-top: 15px;
  }
  .lotus {
    margin: 16px 0 0;
  }
  .fade-enter-active,
  .fade-leave-active {
    transition: opacity 0.8s;
  }
  .lotus {
    width: 70px;
    margin-bottom: 20px;
  }
  @media (min-width: 760px) {
    ul {
      font-size: 26px;
    }
    .lotus {
      width: 100px;
    }
  }
  @media (min-width: 1080px) {
    ul {
      font-size: 30px;
      width: 70%;
    }
    padding-top: 50px;
  }
}
