@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/12144.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Vietnamish-Regular";
  src: url("../fonts/Vietnamish.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Hebrew-Regular";
  src: url("../fonts/Fredoka-VariableFont_wdth\,wght.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Mariam-Regular";
  src: url("../fonts/GHEAMariam.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Kaiti-Regular";
  src: url("../fonts/KaiTi.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Yumin-Regular";
  src: url("../fonts/yumin.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #fefcfe;
}
.desktop-version {
  display: none !important;
}

.silver-text {
  color: #a0a0a0;
}
.pointer {
  cursor: pointer;
  svg {
    cursor: pointer;
  }
}

.scale {
  transition: all 0.5s;
}
.scale:hover {
  transform: scale(1.1);
}
.scale-img,
.little-scale-img {
  transition: all 0.5s;
}
.scale-img:hover {
  transform: scale(1.2);
}
.little-scale-img:hover {
  transform: scale(1.1);
}
.loadingDiv {
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.8);
  font-size: 30px;
  font-family: sans-serif;
  text-align: center;
  padding-top: 30vh;
  background: white url("../images/loader.gif") center 40%/280px no-repeat;
  img {
    width: 280px;
  }
}

@media (min-width: 1080px) {
  .desktop-version {
    display: block !important;
  }
  .mob-version {
    display: none !important;
  }
  .custom-container {
    width: 78%;
    margin: auto;
  }
  .loadingDiv {
    padding-top: 150px;
  }
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.3s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}

.bounceIn {
  -webkit-animation-duration: 0.75s;
  -webkit-animation-name: bounceIn;
  animation-duration: 0.75s;
  animation-name: bounceIn;
}

.custom-btn {
  background-position: center;
  background-size: cover;
  text-align: center;
  height: 55px;
  width: 230px;
  margin: auto;
  padding-top: 13px;
  font-family: "OpenSans-Regular";
  font-size: 20px;
  position: relative;
  z-index: 5;
  @media (min-width: 740px) {
    height: 71px;
    width: 280px;
    padding-top: 20px;
  }
}
