.menu {
  .menu-shade {
    position: absolute;
    z-index: 9;
    width: 100%;
    height: 100px;
    padding-top: 100vh;
  }
  background-color: #f5fba8;
  background-image: url("../images/menu/background.png");
  color: #3f87a1;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  background-size: 130%;
  z-index: 10;
  font-family: "OpenSans-Regular";
  padding-top: 50px;
  .nuxt-link-exact-active{
    color: #f1b13f;

  }

  ul {
    list-style: none;
    text-align: center;
    padding-left: 0;
    font-size: 26px;
    a {
      color: #3f87a1;
      transition: all 0.5s;
      text-decoration: none;
    }
    :hover {
      color: #f1b13f;
    }
    li {
      margin-bottom: 5px;
    }
  }
  .zh ul, .zh .closeButton{
    font-size: 48px;

  }
  .menu-box {
    width: 85%;
    margin: 0px auto 0;
  }
  .closeButton {
    cursor: pointer;
    font-size: 26px;
    text-align: right;
    margin-bottom: 100px;
  }
}

@media (min-width: 1080px) {
  .menu {
    width: 460px;
    right: 0;
    font-size: 22px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-top: 50px;


    .menu-box {
      margin: auto;
    }
    ul {
      margin-top: 60px;
      line-height: 46px;
    }
    a {
      font-size: 26px;
    }
    li {
      transition: all 0.5s;
    }
    
  }
}
