nav {
  padding: 0 15px 0;
  font-family: "OpenSans-Regular";
 
  .nav-link {
    font-size: 12px;
    color: #a0a0a0b6;
    padding-left: 5px;
    padding-right: 5px;
    text-transform: uppercase;
  }
  .nuxt-link-active {
    font-weight: bold;
    color: #f1b13f;
  }
  .nav-link:hover {
    color: #f1b13f;
  }
  :first-child {
    padding-left: 0;
  }
  :last-child {
    padding-right: 0;
  }

  @media (min-width: 1080px) {
    padding: 0;
    .nav-link {
      padding: 30px 10px 0;
      font-size: 18px;
    }
  }
  @media (min-width: 1200px) {
    font-size: 19px;
    margin-bottom: -5px;
    .nav-link {
      padding: 45px 13px 0;
      font-size: 22px;
    }
  }
}
