.read {
  position: relative;
  margin-top: 0px;
  background-repeat: no-repeat;
  background: url("../images/read/TableBackground.jpg");
  background-size: 320%;
  background-position: bottom;
  min-height: calc(100vh);
  overflow: hidden;
  box-shadow: inset 0px 25px 8px -10px rgba(104, 101, 101, 0.199),
    inset 0px -82px 18px -10px rgba(104, 101, 101, 0.288);
  -webkit-box-shadow: inset 0px 25px 8px -10px rgba(104, 101, 101, 0.199),
    inset 0px -82px 18px -10px rgba(104, 101, 101, 0.288);
  -moz-box-shadow: inset 0px 25px 8px -10px rgba(104, 101, 101, 0.199),
    inset 0px -82px 18px -10px rgba(104, 101, 101, 0.288);

  .read-desktop-version {
    display: none !important;
  }
  mark {
    color: chocolate;
  }
  .book_border {
    width: 100%;
    max-width: 1650px;
    margin: auto;

    .book_background {
      position: relative;
    }
    img {
      width: 100%;
      height: 100%;
    }
    .stf__block {
      max-width: 1650px;
      width: 91.4%;
      top: -41px;
      height: 100%;
      @media (min-width: 375px) {
        top: -42px;
      }
      @media (min-width: 450px) {
        top: -42px;
      }
      @media (min-width: 570px) {
        top: -40px;
      }
    }
  }
  #bookParentElementMob {
    width: 89.5%;
    margin: auto;
    position: absolute;
    left: 0;
    top: 0;
  }
  .dark-hero {
    color: #991a03;
    text-shadow: 0px 1px 0px #991a03;
  }

  .he .image-slides,
  // .he .content-slides,
  .he .content-slides .text
  // .he .bottom .pagination .pages
 {
    direction: rtl !important;
    text-align: right !important;
  }

  .characters-block {
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    gap: 5px;
    * {
      box-sizing: border-box;
    }

    .character {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-basis: 30%;
      width: 30%;
      max-width: 130px;

      img {
        width: 100%;
        height: auto;
        margin-bottom: 3px;
      }

      p {
        margin-bottom: 5px;
        color: #e4c143;
        text-shadow: 1px 1px 1px rgb(99, 72, 6);
        font-size: 1.6vw;
      }
    }
  }
  .light-hero {
    color: #f5c621;
    text-shadow: 1px 1px 2px #32393d;
    font-weight: bold;
  }
  .arrow-section {
    position: relative;
    top: -20vw;
    width: 80%;
    margin: auto;
    img {
      width: 35px;
      z-index: 3;
    }
    .left-arrow {
      transform: rotate(180deg);
    }
  }
  .book_border .my-page {
    @media (min-width: 650px) {
      line-height: 1.1;
      // text-align: left;
      padding: 15px 10px 15px 20px;
      font-size: 1.8vw;
      white-space: pre-line;
      background-size: cover !important;
      box-shadow: 1px 1px 55px -10px rgba(44, 76, 99, 0.932) inset;
      margin-bottom: 35px !important;
    }
    @media (min-width: 1080px) {
      font-size: 18px;
      line-height: 1.3;
      padding: 35px 35px;
      margin-bottom: 750px;
      // text-align: left;
    }
    @media (min-width: 1300px) {
      font-size: 20px;
    }
    @media (min-width: 1500px) {
      font-size: 23px;
    }
  }

  @media (min-width: 650px) {
    min-height: calc(110vh + 54px);
    padding-top: 30px;
    background-size: cover;
    background-position: initial;
    .read-desktop-version {
      display: block !important;
    }
    .arrow-section .d-flex {
      display: none !important;
    }
    .mobile-reader {
      display: none;
    }
    .book_border {
      width: 97%;
      text-align: center;
      position: relative;
      margin: 0 auto 65px;
      .book_background {
        position: relative;
      }
      img {
        width: 100%;
        height: 100%;
      }
      .characters-block {
        color: #e4c143;
        text-shadow: 1px 1px 1px rgb(99, 72, 6);
        text-align: center;
        padding-bottom: 0;
        gap: unset;
        img {
          width: 6vw;
          height: auto;
        }
        p {
          margin: 0;
          font-size: 1.6vw;
        }
        div{
          padding: 5px;

        }
      }
      .arrow-section {
        position: relative;
        top: 0px;
        img {
          width: 35px;
        }
      }
      .stf__block {
        width: 92%;
        left: 4.1%;
        top: -2.1%;
      }

      #bookParentElement {
        width: 91.5%;
        margin: auto;
        position: absolute;
        left: 0px;
        top: 0px;
        width: 170px;
        margin-bottom: 50px;
      }
    }
  }
  @media (min-width: 800px) {
    .arrow-section .d-flex {
      display: flex !important;
    }
  }
  @media (min-width: 1020px) {
    padding-top: 60px;
    padding-bottom: 97px;
    min-height: calc(100vh + 73px);

    .book_border {
      .characters-block {
        padding-top: 10px;
        img {
          width: 80px;
          height: auto;
          margin-bottom: 10px;
        }
        p {
          margin-bottom: 15px;
        }
        div {
          padding: 0px 15px;
        }
      }
    }
    .arrow-section {
      top: -25px;
      .arrow-bottom {
        width: 20px;
      }
      img {
        width: 45px;
      }
    }
  }
  @media (min-width: 1500px) {
    .book_border {
      max-width: 1500px;
      .characters-block p {
        font-size: 22px;
      }

      .arrow-section {
        img {
          width: 55px;
        }
      }
    }
  }
  @media (min-width: 1700px) {
    padding-top: 70px;
  }

  // pages backgrounds
  .page-0 {
    font-size: 22px;
    padding-top: 95px;
    background: url("../images/read/book/2-2-TEMPLATE.jpg");
  }
  .page-1 {
    background: url("../images/read/book/1-1-TEMPLATE.jpg");
  }
  .page-2 {
    background: url("../images/read/book/1-2-TEMPLATE.jpg");
  }
  .page-3 {
    background: url("../images/read/book/2-1-TEMPLATE.jpg");
  }
  .page-4 {
    background: url("../images/read/book/2-2-TEMPLATE.jpg");
  }
  .page-5 {
    background: url("../images/read/book/3-1-TEMPLATE.jpg");
  }
  .page-6 {
    background: url("../images/read/book/3-2-TEMPLATE.jpg");
  }
  .page-7 {
    background: url("../images/read/book/4-1-TEMPLATE.jpg");
  }
  .page-8 {
    background: url("../images/read/book/4-2-TEMPLATE.jpg");
  }
  .page-9 {
    background: url("../images/read/book/5-1-TEMPLATE.jpg");
  }
  .page-10 {
    background: url("../images/read/book/5-2-TEMPLATE.jpg");
  }
  .page-11 {
    background: url("../images/read/book/6-1-TEMPLATE.jpg");
  }
  .page-12 {
    background: url("../images/read/book/6-2-TEMPLATE.jpg");
  }
  .page-13 {
    background: url("../images/read/book/7-1-TEMPLATE.jpg");
  }
  .page-14 {
    background: url("../images/read/book/7-2-TEMPLATE.jpg");
  }
  .page-15 {
    background: url("../images/read/book/8-1-TEMPLATE.jpg");
  }
  .page-16 {
    background: url("../images/read/book/8-2-TEMPLATE.jpg");
  }
  .page-17 {
    background: url("../images/read/book/9-1-TEMPLATE.jpg");
  }
  .page-18 {
    background: url("../images/read/book/9-2-TEMPLATE.jpg");
  }
  .page-19 {
    background: url("../images/read/book/10-1-TEMPLATE.jpg");
  }
  .page-20 {
    background: url("../images/read/book/10-2-TEMPLATE.jpg");
  }
  .page-21 {
    background: url("../images/read/book/11-1-TEMPLATE.jpg");
  }
  .page-22 {
    background: url("../images/read/book/11-2-TEMPLATE.jpg");
  }
  .page-23 {
    background: url("../images/read/book/12-1-TEMPLATE.jpg");
  }
  .page-24 {
    background: url("../images/read/book/12-2-TEMPLATE.jpg");
  }
  .page-25 {
    background: url("../images/read/book/13-1-TEMPLATE.jpg");
  }
  .page-26 {
    @media (max-width: 650px) {
      background-position: center !important;
    }
    background: url("../images/read/book/13-2-TEMPLATE.jpg");
  }
  .page-27 {
    background: url("../images/read/book/14-1-TEMPLATE.jpg");
  }
  .page-28 {
    background: url("../images/read/book/14-2-TEMPLATE.jpg");
  }
  .page-29 {
    background: url("../images/read/book/15-1-TEMPLATE.jpg");
  }
  .page-30 {
    background: url("../images/read/book/15-2-TEMPLATE.jpg");
  }
}

//footer
.read_footer {
  bottom: 0;
  position: absolute;
  width: 100%;
  // z-index: 9;

  .pages-block {
    font-size: 14px;
    background-color: #0b80ac;
    padding-top: 18px;
    color: white;
    overflow-x: auto;
    justify-content: left !important;
    border-top: 3px solid white;

    .pointer:hover {
      color: #f1b13f;
      font-size: 20px;
      margin-top: -4px;
    }
    .clicked {
      color: #f1b13f;
      margin-top: -4px;
      font-size: 20px;
    }
  }
  @media (min-width: 375px) {
    .pages-block {
      font-size: 16px;
      p {
        height: 20px;
        transition: all 0.5s;
      }
      .pointer:hover,
      .clicked {
        font-size: 22px;
      }
    }
  }
  @media (min-width: 650px) {
    .pages-block {
      justify-content: center !important;
    }
    .footer-arrow {
      width: 35px;
      transform: translateY(-20%);
      margin: 0 25px 0;
    }
    .left-arrow {
      transform: rotate(180deg) translateY(20%);
    }
  }

  @media (min-width: 800px) {
    .footer-arrow {
      display: none;
    }
  }

  @media (min-width: 1020px) {
    .arrow {
      display: none;
    }
  }

  @media (min-width: 1200px) {
    .pages-block {
      // border-width: 10px;
      font-size: 22px;
      p {
        height: 35px;
      }
      .pointer:hover,
      .clicked {
        font-size: 25px;
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  // @media only screen and (orientation: portrait) {
  $pagination-height: 62px;
  $top-height: 43%;
  $top-min-height: 330px;
  // $top-height: 350px;
  $transition-duration: 0.4s;
  $td: $transition-duration;

  .read_footer.read-desktop-version {
    display: none;
  }
  .book_border {
    display: none !important;
  }

  .layout-read {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: white;

    header.mob-version {
      position: relative;
      transition: all $td ease-out;
      margin: -185px 0 0 0;
      padding: 25px 15px 15px 15px;
      background: white;
      filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.11));
      z-index: 3;

      .header-toggler {
        position: absolute;
        top: 100%;
        right: 21px;
        width: 4.2rem;
        height: 2.3rem;
        background: white;
        display: flex;
        border-radius: 0 0 1.3rem 1.3rem;
        z-index: 9;
        align-items: center;
        justify-content: center;
        align-content: center;
        transform: translateY(-0.5px);
        // filter: drop-shadow(2px 7px 5px rgba(0, 0, 0, 0.05));
        // filter: drop-shadow(0.5px 3.2px 2.2px rgba(0, 0, 0, 0.1));
        filter: drop-shadow(0.5px 4px 1.8px rgba(0, 0, 0, 0.06));

        &:before {
          content: "";
          width: 15px;
          height: 15px;
          background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0ODMuNDIgMjk0LjE5Ij4NCiAgPHBhdGggZD0iTTExNTYuNDctODc4Ljg4Yy0yMC41LTIwLjUxLTUzLjQ5LTIwLjc3LTczLjY3LS41OUw5MzAuMzItNzI3LDc3Ny44NC04NzkuNDdjLTIwLjE4LTIwLjE4LTUzLjE3LTE5LjkyLTczLjY4LjU5cy0yMC43Nyw1My40OS0uNTksNzMuNjdsMTkwLDE5MGE1MS4wOCw1MS4wOCwwLDAsMCwzNi43NSwxNSw1MS4xLDUxLjEsMCwwLDAsMzYuNzUtMTVsMTkwLTE5MEMxMTc3LjI1LTgyNS4zOSwxMTc3LTg1OC4zNywxMTU2LjQ3LTg3OC44OFoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC02ODguNjEgODk0LjQzKSIgc3R5bGU9ImZpbGw6ICNmMWIxM2YiLz4NCjwvc3ZnPg0K)
            center/contain no-repeat;
          transition: transform 0.35s ease-out;
          z-index: 9;
        }
      }
    }

    &.header-open {
      header.mob-version {
        margin-top: 0;
        .header-toggler:before {
          transform: rotate(-180deg) translateY(3.4px);
        }
      }
    }

    @mixin image-positions-per-page($dir: ltr) {
      @for $page from 0 to 15 {
        &[current="#{$page + 1}"] {
          @if ($dir == rtl) {
            right: calc(-100% * #{$page});
          } @else {
            left: calc(-100% * #{$page});
          }
        }
      }
    }

    @mixin content-slide-positions-per-page($dir: ltr) {
      @for $page from 0 to 15 {
        &[current="#{$page + 1}"] {
          @if ($dir == rtl) {
            right: calc(-100% * #{$page});
          } @else {
            left: calc(-100% * #{$page});
          }

          .slide-#{$page + 2} {
            position: relative;
            z-index: 1;

            .page {
              position: absolute;
              z-index: 9;
            }
            .text {
              position: absolute;
              z-index: 9;
            }
          }
        }
      }
    }

    @mixin pagination-positions-per-page($dir: ltr) {
      @for $page from 0 through 14 {
        &[current="#{$page + 1}"] .pages {
          @if ($dir == rtl) {
            transform: translateX(calc(-50vw + 2em + #{2.58 * $page}em));
          } @else {
            transform: translateX(calc(50vw - 2em - #{2.58 * $page}em));
          }
        }
      }
    }

    .mobile-reader {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #eef6e0;

      .top {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: $top-height;
        min-height: $top-min-height;
        z-index: 2;
        // filter: drop-shadow(0 0px 11px rgba(0, 0, 0, 0.45));
        // filter: drop-shadow(0 1px 10px rgba(0,0,0,45%));
        // filter: drop-shadow(0 1px 10px rgba(0, 0, 0, 0.32));
        // filter: drop-shadow(0 2px 12px rgba(0, 0, 0, 0.3));
        filter: drop-shadow(0 3px 15px rgba(77, 77, 7, 40%));

        .image {
          position: absolute;
          width: 100%;
          height: 100%;
          overflow: hidden;
          clip-path: url(#wave-mask);
          display: flex;
          align-items: center;

          &:before {
            content: "";
            position: absolute;
            width: 100%;
            padding-bottom: 18%;
            top: 82%;
            z-index: 2;
            background-image: radial-gradient(
              farthest-corner at 48% 75%,
              rgba(255, 255, 255, 0.8),
              rgba(255, 255, 255, 0) 70%
            );
          }

          .image-slides {
            position: absolute;
            width: calc(100% * 15);
            height: 100vw;
            left: 0;
            display: flex;
            transition: left $td ease-out, right $td ease-out;

            .page {
              width: 100%;
              height: 100%;
              background-size: auto 104.5%;
              background-position: center !important;
              // animation: moving-bg 68s linear infinite alternate;

              // Some adjustments per page
              &.page-8,
              &.page-10,
              &.page-16,
              &.page-18,
              &.page-20 {
                background-position-y: top !important;
              }
              &.page-12,
              &.page-22 {
                background-position-y: bottom !important;
              }
              &.page-12 {
                transform: translateY(-5%);
              }
              &.page-22 {
                transform: translateY(-3%);
              }

              // @keyframes moving-bg {
              //   0% {background-position-x: 100%}
              //   100% {background-position-x: 0%}
              // }
            }

            @include image-positions-per-page();
            &.rtl {
              @include image-positions-per-page(rtl);

              direction: rtl !important;
              text-align: right !important;
              left: auto;
              right: 0;
            }
          }
        }

        &:hover .navigation {
          opacity: 1;
          visibility: visible;
          pointer-events: all;
        }

        .navigation {
          position: absolute;
          top: 48%;
          left: 0;
          width: 100%;
          display: flex;
          justify-content: space-between;
          transition: opacity $td ease-out;
          transform: translateY(-50%);
          opacity: 0;
          visibility: hidden;
          pointer-events: none;

          .left-arrow,
          .right-arrow {
            position: relative;
            width: 2rem;
            height: 7rem;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            margin: 0 1.35rem;
          }

          .left-arrow {
            background-image: url("data:image/svg+xml,%3Csvg width='27' height='41' viewBox='0 0 27 41' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.0959 38L4.99995 20.5L23.096 3' stroke='white' stroke-opacity='0.96' stroke-width='6' stroke-linecap='round'/%3E%3C/svg%3E%0A");
          }
          .right-arrow {
            background-image: url("data:image/svg+xml,%3Csvg width='26' height='41' viewBox='0 0 26 41' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 3L21.096 20.5L3 38' stroke='white' stroke-opacity='0.96' stroke-width='6' stroke-linecap='round'/%3E%3C/svg%3E%0A");
          }

          &[current="1"]:not(.rtl) .left-arrow {
            visibility: hidden;
          }
          &[current="15"]:not(.rtl) .right-arrow {
            visibility: hidden;
          }
          &[current="15"].rtl .left-arrow {
            visibility: hidden;
          }
          &[current="1"].rtl .right-arrow {
            visibility: hidden;
          }
        }
      }

      .bottom {
        position: absolute;
        left: 0;
        bottom: $pagination-height;
        width: 100%;
        height: calc(100% - #{$top-height} - #{$pagination-height} + 5%);
        max-height: calc(100% - #{$top-min-height} - #{$pagination-height} + 5%);
        background: white;
        overflow: hidden;

        .content,
        .content-slides,
        .slide,
        .page {
          width: 100%;
          height: 100%;
        }

        .content-slides {
          position: absolute;
          width: calc(100% * 15);
          transition: left $td ease-out, right $td ease-out;
          display: flex;
          left: 0;

          @include content-slide-positions-per-page();
          &.rtl {
            @include content-slide-positions-per-page(rtl);

            direction: rtl !important;
            text-align: right !important;
            left: auto;
            right: 0;
          }

          .slide {
            position: relative;

            .page {
              // filter: blur(8px);
              // filter: blur(13px);
              filter: blur(28px);
              transform: scale(1.1);
              transform-origin: (50% 50%);
              opacity: 0.62;
            }
            .text {
              position: absolute;
              top: 0;
              left: 0;
              z-index: 1;
              // padding: 4.48rem 1.54rem 2.6rem;
              // padding: 4rem 1.54rem 2.6rem;
              // padding: 4rem 1.54rem 2.5rem;
              padding: 4rem 1.54rem 2.9rem;
              line-height: 1.4;
              white-space: break-spaces;
              text-align: left;
              height: 100%;
              box-sizing: border-box;
              overflow-y: auto;
              width: 100%;

              .characters-block {
                padding: 0;
                gap: 4%;
                filter: drop-shadow(1px 1px 1px #ffffffe1);

                img {
                  margin: -2px 0 12px;
                }
                p {
                  font-size: 3.55vw;
                }
              }
            }
          }

          // &[style*="transform"] .slide .text { overflow-y: hidden }
        }
      }

      .pagination {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: $pagination-height;
        background: #0b80ac;
        color: white;
        font-size: 1.5rem;
        padding: 0 0.4em;
        overflow-x: hidden;
        border-radius: 0;
        z-index: 9;

        &:before,
        &:after {
          content: "";
          position: absolute;
          top: 0;
          height: 100%;
          width: 28%;
          pointer-events: none;
          z-index: 2;
        }

        &:before {
          left: 0;
          background: linear-gradient(
            90deg,
            rgba(11, 128, 172, 0.9),
            rgba(11, 128, 172, 0)
          );
        }

        &:after {
          right: 0;
          background: linear-gradient(
            -90deg,
            rgba(11, 128, 172, 0.9),
            rgba(11, 128, 172, 0)
          );
        }

        .pages {
          display: flex;
          align-items: center;
          transition: transform $td ease-out;
        }

        p {
          margin: 0.25em 1em 0.1em;
          transition: all $td ease-out;
        }
        .clicked {
          color: #f1b13f;
          font-size: 1.33em;
        }

        @include pagination-positions-per-page();
        &.rtl {
          @include pagination-positions-per-page(rtl);
          direction: rtl !important;
          text-align: right !important;
          // left: auto;
          // right: 0;
        }
      }

      clipPath#wave-mask {
        animation: waving 3.8s infinite alternate ease-in-out;
        transform-origin: center;
      }

      @keyframes waving {
        0% {
          transform: scale(1.05, 1) translate(0, -6px);
        }
        100% {
          transform: scale(1.05, 1) translate(-1vw, 0);
        }
      }
    }
  }
  // }
}
