.read {
  font-family: "OpenSans-Regular";

  .zh-t,
  .ja,
  .zh {
    .characters-block {
      p {
        display: none;
      }
    }
  }
  .tr,
  .sv,
  .uk,
  .ru,
  .en,
  .el,
  .dut,
  .cs,
  .by,
  .uz,
  .bn,
  .hu,
  .bg {
    .my-page {
      .characters-block {
        p {
          font-size: 1.4vw;
          margin-bottom: 7px;
        }
        img {
          width: 6vw;
          margin-bottom: 3px;
        }
        div {
          padding-bottom: 0;
        }
      }
      @media (min-width: 1080px) {
        font-size: 1.4vw;
      }
      @media (min-width: 1500px) {
        font-size: 21px;
        padding-top: 55px;
        .characters-block {
          p {
            font-size: 21px;
          }
          img {
            width: 90px;
          }
        }
      }
    }
  }
  // French
  .kk,
  .ro,
  .pl,
  .es,
  .vi,
  .lv,
  .pt,
  .fr,
  .id,
  .it{
    .my-page {
      font-size: 1.7vw;
      @media (min-width: 1020px) {
        .characters-block {
          padding-top: 5px;
          padding-bottom: 5px;
          img {
            width: 6vw;
            margin-bottom: 5px;
          }
          p {
            margin-bottom: 0;
          }
        }
      }
      @media (min-width: 1080px) {
        padding: 25px 15px 25px 20px;

        font-size: 1.5vw;
      }
      @media (min-width: 1500px) {
        font-size: 23px;
        padding: 45px 35px 0;
      }
    }
  }
  // German
  .de,
  .geo,
  .mn  {
    .my-page {
      font-size: 1.4vw;
      .characters-block {
        p {
          margin-bottom: 5px;
          font-size: 1.8vw;
        }
        img {
          width: 6vw;
          margin-bottom: 5px;
        }
        div {
          padding-bottom: 0;
        }
        @media (min-width: 1020px) {
          padding-top: 5px;
          padding-bottom: 5px;
        }
      }
      @media (min-width: 1080px) {
        padding: 25px 15px 25px 20px;
      }
      @media (min-width: 1500px) {
        font-size: 21px;
        padding: 45px 35px 0;
        .characters-block {
          p {
            font-size: 21px;
          }
          img {
            width: 90px;
          }
        }
      }
    }
  }
  // Chinese

  .zh,
  .zh-t {
    .text {
      font-size: 5.5vw;
    }
    .my-page {
      font-size: 1.7vw;
      .light-hero {
        font-size: 3.1vw;
        font-weight: 500;
      }
      .characters-block {
        p {
          font-size: 1.4vw;
          margin-bottom: 10px;
        }
        img {
          width: 6vw;
          margin-bottom: 5px;
        }
        div {
          padding-bottom: 0;
        }
      }
      @media (min-width: 1500px) {
        font-size: 25.6px;
        img {
          width: 90px;
        }
      }
    }
  }
  // Armenian + Dutch

  .arm,
  .dut,
  .ja {
    .my-page {
      padding-top: 5px;
      white-space: unset;
      .characters-block {
        img {
          margin-top: 5px;
        }
        p {
          font-size: 1.2vw;
          @media (min-width: 1350px) {
            font-size: 17px;
          }
        }
        div {
          font-size: 1.2vw;
          @media (min-width: 1020px) {
            padding-right: 4px;
          }
          @media (min-width: 1200px) {
            padding-left: 10px;
            padding-right: 10px;
            margin-bottom: 15px;
          }
          @media (min-width: 1500px) {
          }
        }
      }

      @media (min-width: 1080px) {
        padding: 20px 10px 20px 20px;
      }
      @media (min-width: 1200px) {
        white-space: pre-line;
        padding: 30px 20px 20px 30px;
      }
    }
  }

  .vi {
    .my-page {
      font-size: 2vw;
      white-space: unset;

      @media (min-width: 805px) {
        white-space: pre-line;
        font-size: 1.8vw;
      }

      @media (min-width: 1080px) {
        padding: 20px 10px 20px 20px;
        font-size: 1.7vw;
      }
      @media (min-width: 1200px) {
        padding: 30px 20px 20px 30px;
      }
    }
  }
  // images right-to-left
  .he,
  .ar,
  .fa {
    .page-6 {
      background: url("../images/read/book/3-inverted.jpg");
    }
    .page-16 {
      background: url("../images/read/book/8-inverted.jpg");
    }
  }
}
