.watch {
  box-shadow: inset 0px 25px 15px -10px rgba(104, 101, 101, 0.151);
  -webkit-box-shadow: inset 0px 25px 15px -10px rgba(104, 101, 101, 0.151);
  -moz-box-shadow: inset 0px 25px 15px -10px rgba(104, 101, 101, 0.151);
  // min-height: 500px;
  text-align: center;
  padding-top: 80px;
  background: url("../images/watch/watch_background.png");
  background-size: cover;
  background-position: left center;
  background-repeat: no-repeat;
  .video-container {
    padding-bottom: 250px;
  }
  .youtube-iframe {
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.425);
    width: 100%;
    height: 320px;
  }
  .ytp-large-play-button,
  .ytp-button {
    background-color: white;
  }
  @media (min-width: 560px) {
    padding: 90px 20px 0;
    .youtube-iframe {
      box-shadow: 0px 0px 20px 1px rgba(224, 149, 149, 0.425);
      width: 70%;
      height: 40vw;
    }
   
  }
  @media (min-width: 1080px) {
    margin-top: 20px;
  }
  padding-top: 120px;
  .youtube-iframe {
    margin: auto;
    border: 3px solid white;
    border-radius: 40px;
    background-color: rgba(0, 0, 0, 0.363);
  }
}
