<template>
  <div :class="$i18n.locale" :dir="textDirection === 'ltr' ? 'ltr' : 'rtl'">
    <div v-if="isLoading" class="loadingDiv"></div>
    <div v-else>
      <LittleHeader @click="isOpen = false" />
      <transition name="fade">
        <div
          v-if="isMenuOpen"
          class="menu"
          v-bind:style="{
            overflowY: 'scroll',
          }"
        >
          <Menu />
        </div>
      </transition>
      <transition name="fade">
        <div v-if="isLangMenuOpen" class="langMenu">
          <LangMenu />
        </div>
      </transition>
      <Nuxt />
      <Footer />
    </div>
  </div>
</template>

<script>
import langDefine from "../mixins/langDefine.vue";
import showLoader from "../mixins/loader.vue";
import menuEsc from "../mixins/menu.vue";

export default {
  mixins: [langDefine, menuEsc, showLoader],
};
</script>


<style>
</style>
