<template>
  <div
    ref="layout-read"
    class="layout-read"
    :class="`${$i18n.locale} ${isMobHeaderOpen ? 'header-open' : ''}`"
  >
    <div v-if="isLoading" class="loadingDiv"></div>
    <div v-else>
      
      <ReadHeader @click="isOpen = false" />
      <transition name="fade">
        <div
          v-if="isMenuOpen"
          class="menu"
          v-bind:style="{
            overflowY: 'scroll',
          }"
        >
          <Menu />
        </div>
      </transition>
      <transition name="fade">
        <div v-if="isLangMenuOpen" class="langMenu">
          <LangMenu />
        </div>
      </transition>
      <Nuxt />
    </div>
  </div>
</template>

<script>
import menuEsc from "../mixins/menu.vue";
import langDefine from "../mixins/langDefine.vue";
import showLoader from "../mixins/loader.vue";

export default {
  data() {
    return {
      isMobHeaderOpen: true,
    };
  },

  mixins: [langDefine, menuEsc,showLoader],

  watch: {
    "$i18n.locale": function (newLang, oldLang) {
      if (
        (this.rtlLangs.includes(oldLang) && !this.rtlLangs.includes(newLang)) ||
        (!this.rtlLangs.includes(oldLang) && this.rtlLangs.includes(newLang))
      ) {
        window.location.reload();
      }
    },
  },

  mounted() {
    // TEMPORARY FIX: fix margin-top issue when open header arrow doesn't show up
    setTimeout(() => {
      this.isMobHeaderOpen = false;
    }, 1000);
  }
};
</script>

