<template>
  <transition name="fade">
    <div class="about">
      <div class="about-mob">
        <div class="line-parent">
          <img
            src="../assets/images/about/Line.png"
            alt="line"
            class="line-img"
          />

          <div class="world-1">
            <img
              src="../assets/images/about/world-1.png"
              alt="world-1"
              class="world-img"
            />
          </div>
          <div class="text-section-1" v-if="$i18n.locale === 'en'">
            <h2 class="text-left">
              {{ $t("fairy_tale_name").split("\n")[0] }}
            </h2>
            <h3 class="text-center">
              {{ $t("fairy_tale_name").split("\n")[1] }}
            </h3>
            <p>
              {{ $t("fairy_tale_is_about") }}
            </p>
          </div>
          <div class="text-section-1" v-else>
            <h3>{{ $t("fairy_tale_name").split("\n")[0] }}</h3>
            <h2>{{ $t("fairy_tale_name").split("\n")[1] }}</h2>
            <p>
              {{ $t("fairy_tale_is_about") }}
            </p>
          </div>

          <div class="world-2">
            <img
              src="../assets/images/about/world-2.png"
              alt="world-2"
              class="world-img"
            />
            <img
              src="../assets/images/about/Seed.png"
              alt="seed"
              class="seed"
            />
          </div>
          <div class="text-section-2">
            <p>
              {{ $t("fairy_tale_is_about_part_2") }}
            </p>
          </div>
          <div class="world-3">
            <img
              src="../assets/images/about/world-3.png"
              alt="world-3"
              class="world-img"
              data-not-lazy
            />
          </div>
          <div class="text-section-3">
            <h2>{{ $t("zhen") }}</h2>
            <p>
              {{ $t("zhen_description") }}
            </p>
          </div>
          <div class="world-4">
            <img
              src="../assets/images/about/world-4.png"
              alt="world-4"
              class="world-img"
              data-not-lazy
            />
          </div>
          <div class="text-section-4">
            <div class="d-flex justify-content-end">
              <h2>{{ $t("shan") }}</h2>
            </div>
            <div class="d-flex justify-content-end">
              <p>
                {{ $t("shan_description") }}
              </p>
            </div>
          </div>
          <div class="world-5">
            <img
              src="../assets/images/about/world-5.png"
              alt="world-5"
              class="world-img"
            />
          </div>
        </div>
        <div class="text-section-5">
          <h2>{{ $t("ren") }}</h2>
          <p>
            {{ $t("ren_description") }}
          </p>
        </div>
        <div class="divider"></div>
        <div class="section-author">
          <div class="text-section-author">
            <h2>{{ $t("about_author_name") }}</h2>
            <p>
              {{ $t("about_author_text") }}
            </p>
          </div>
          <div class="d-flex justify-content-center">
            <img src="../assets/images/about/Author.png" alt="Author" />
          </div>
        </div>
      </div>
      <div class="about-desktop">
        <div class="line-parent">
          <img
            src="../assets/images/about/Line-desktop.png"
            alt="line"
            class="line-img"
          />

          <section class="d-flex align-items-center">
            <div class="text-section-1" v-if="$i18n.locale === 'en'">
              <h2 class="text-left">
                {{ $t("fairy_tale_name").split("\n")[0] }}
              </h2>
              <h3 class="text-center">
                {{ $t("fairy_tale_name").split("\n")[1] }}
              </h3>
              <p>
                {{ $t("fairy_tale_is_about") }}
              </p>
            </div>
            <div class="text-section-1" v-else>
              <h3>{{ $t("fairy_tale_name").split("\n")[0] }}</h3>
              <h2>{{ $t("fairy_tale_name").split("\n")[1] }}</h2>

              <p>
                {{ $t("fairy_tale_is_about") }}
              </p>
            </div>
            <div class="world-1">
              <img
                src="../assets/images/about/world-1.png"
                alt="world-1"
                class="world-img"
              />
              <img
                src="../assets/images/about/Seed.png"
                alt="seed"
                class="seed position-absolute"
              />
            </div>
          </section>
          <section class="d-flex align-items-center">
            <div class="world-2">
              <img
                src="../assets/images/about/world-2.png"
                alt="world-2"
                class="world-img"
              />
            </div>
            <div class="text-section-2">
              <p>
                {{ $t("fairy_tale_is_about_part_2") }}
              </p>
            </div>
          </section>
          <section class="d-flex align-items-center">
            <div class="text-section-3">
              <h2>{{ $t("zhen") }}</h2>
              <p>
                {{ $t("zhen_description") }}
              </p>
            </div>
            <div class="world-3">
              <img
                src="../assets/images/about/world-3.png"
                alt="world-3"
                class="world-img"
              />
            </div>
          </section>
          <section class="d-flex align-items-center">
            <div class="world-4">
              <img
                src="../assets/images/about/world-4.png"
                alt="world-4"
                class="world-img"
              />
            </div>
            <div class="text-section-4">
              <div class="d-flex justify-content-end">
                <h2>{{ $t("shan") }}</h2>
              </div>
              <div class="d-flex justify-content-end">
                <p>
                  {{ $t("shan_description") }}
                </p>
              </div>
            </div>
          </section>
          <section class="d-flex align-items-center">
            <div class="text-section-5">
              <h2>{{ $t("ren") }}</h2>
              <p>
                {{ $t("ren_description") }}
              </p>
            </div>
            <div class="world-5">
              <img
                src="../assets/images/about/world-5.png"
                alt="world-5"
                class="world-img"
              />
            </div>
          </section>
        </div>
        <section class="section-author d-flex align-items-center">
          <div class="img-section-author">
            <img src="../assets/images/about/Author.png" alt="Author" />
          </div>

          <div class="text-section-author">
            <h2>{{ $t("about_author_name") }}</h2>
            <p>
              {{ $t("about_author_text") }}
            </p>
          </div>
        </section>
      </div>
    </div>
  </transition>
</template>

<script>
export default {

  head() {
    return {
      title:
        this.$i18n.messages[this.$i18n.locale].site_name +
        " — " +
        this.$i18n.messages[this.$i18n.locale].watch,
      meta: [
        {
          hid: "meta-3",
          content: this.$i18n.messages[this.$i18n.locale].home_name,
          property: "og:site_name",
        },
        {
          hid: "meta-4",
          content: this.$i18n.messages[this.$i18n.locale].home_name,
          property: "og:title",
        },
        {
          hid: "meta-5",
          content:
            "https://lotusstory.org/" +
            this.$i18n.messages[this.$i18n.locale].shortcode,
          property: "og:url",
        },
        {
          hid: "meta-6",
          name: "twitter:title",
          content: this.$i18n.messages[this.$i18n.locale].home_name,
        },
        {
          hid: "meta-7",
          content: this.$i18n.messages[this.$i18n.locale].description,
          property: "og:description",
        },
      ],
    };
  },
};
</script>
