<template >
  <div class="d-flex justify-content-center pt-5">
    <b-card
      border-variant="danger"
      header="Error"
      header-border-variant="danger"
      header-text-variant="danger"
      align="center"
      style="width: 500px"
    >
      <b-card-text class="mt-2"> Access denied! </b-card-text>
      <b-button class="mb-2" :href="'https://' + DOMAIN"
        >← Go to Homepage</b-button
      >
    </b-card>
  </div>
</template>

<script>
export default {
  data() {
    return {
      DOMAIN: this.$store.getters["constants/DOMAIN"],
    };
  },
  head() {
    return {
      title: "Access denied",
    };
  },
};
</script>

