<template>
  <transition name="fade ">
    <div class="buy-the-book">
      <div class="mob-version">
        <section class="section-1">
          <img
            src="../assets/images/buyTheBook/book-cover.png"
            alt="book"
            class="book-cover-img"
          />
        </section>
        <section class="section-2">
          <h2 class="title-2-rows">{{ $t("buy_title").split("\n")[0] }}</h2>
          <h3
            class="title-2-rows text-uppercase"
            v-if="$t('buy_title').split('\n')[1]"
          >
            {{ $t("buy_title").split("\n")[1] }}
          </h3>
          <h2 class="title-1-rows">{{ $t("buy_title") }}</h2>
          <p>
            {{ $t("buy_printed_version_with_delivery") }}

            {{ $t("lotus_story_helps") }}
          </p>
          <a @click="showMsgBoxOne(data)">
            <div class="buy-btn scale-img pointer custom-btn text-uppercase"> {{ $t("buy") }}</div>
          </a>
        </section>
        <section class="section-3">
          <div class="amazon-bubble-box">
            <a @click="showMsgBoxOne(data)">
              <img
                src="../assets/images/buyTheBook/amazon-bubble.png"
                alt="amazon-bubble"
                class="amazon-bubble scale-img pointer"
              />
            </a>
          </div>
        </section>
      </div>

      <div class="desktop-version">
        <div class="d-flex">
          <div class="section-1-2">
            <div class="d-flex">
              <section class="section-1">
                <img
                  src="../assets/images/buyTheBook/book-cover.png"
                  alt="book"
                  class="book-cover-img"
                />
              </section>
              <section class="section-2">
                <h2 class="title-2-rows">
                  {{ $t("buy_title").split("\n")[0] }}
                </h2>
                <h3
                  class="title-2-rows text-uppercase"
                  v-if="$t('buy_title').split('\n')[1]"
                >
                  {{ $t("buy_title").split("\n")[1] }}
                </h3>
                <h2 class="title-1-rows">{{ $t("buy_title") }}</h2>
                <p>{{ $t("buy_printed_version_with_delivery") }}</p>
                <p>{{ $t("lotus_story_helps") }}</p>
              </section>
            </div>
            <a @click="showMsgBoxOne(data)">
              <div class="buy-btn scale-img pointer custom-btn text-uppercase">
                {{ $t("buy") }}
              </div>
            </a>
          </div>

          <section class="section-3 d-flex">
            <div class="book-arrow-block">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                version="1.1"
              >
                <defs>
                  <path
                    class="cls-1"
                    d="M0,97.73S110.11-2.16,218.15,42.43"
                    id="txt-path"
                    transform="translate(10 -15)"
                  />
                </defs>
                <text fill="#FC6360" font-size="25px">
                  <textPath xlink:href="#txt-path" startOffset="24%">
                    {{ $t("buy_on") }}
                  </textPath>
                </text>
              </svg>

              <img
                src="../assets/images/buyTheBook/buy-in-arrow.png"
                alt="book-arrow"
              />
            </div>
            <div class="amazon-bubble-box">
              <a @click="showMsgBoxOne(data)">
                <img
                  src="../assets/images/buyTheBook/amazon-bubble.png"
                  alt="amazon-bubble"
                  class="amazon-bubble scale-img pointer"
                />
              </a>
            </div>
          </section>
        </div>
      </div>
      <b-modal id="modal-1"  hide-header centered okOnly>
        {{ $t("sorry_no_books") }}
        <div class="d-flex mt-2">
          <div v-for="(book, index) in availablesBooks" :key="book.link">
            <a :href="book.link" target="_blank"> {{ book.lang }}</a
            >{{ index !== availablesBooks.length - 1 ? ", " : "" }} <span>&nbsp;</span>
          </div>
        </div>
      </b-modal>
    </div>
  </transition>
</template>

<script>
export default {
  data() {
    return {
      availablesBooks: [],
    };
  },
  methods: {
    showMsgBoxOne() {
      console.log(this.$i18n.messages);

      const availablesBooks = [];
      Object.keys(this.$i18n.messages).map((key, index) => {
        if (this.$i18n.messages[key]["buy_link"])
          availablesBooks.push({
            lang: this.$i18n.messages[key]["english_name"],
            link: this.$i18n.messages[key]["buy_link"],
            sooryMsg: this.$i18n.messages[key]["sorry_no_books"],
          });
      });
      this.availablesBooks = availablesBooks;
      console.log(availablesBooks);

      if (this.$t("buy_link") !== "buy_link")
        window.open(this.$t("buy_link"), "_blank");
      else this.$bvModal.show("modal-1");
      // this.$bvModal.msgBoxConfirm(
      //   `Unfortunately, the book is not yet available in your language. But you can order the book in other languages:
      //   ${availablesBooks.map((el) => `${el.lang}`)}
      //   `,
      //   {
      //     centered: true,
      //   }
      // );
    },
  },
  mounted() {},
  head() {
    return {
      title:
        this.$i18n.messages[this.$i18n.locale].site_name +
        " — " +
        this.$i18n.messages[this.$i18n.locale].watch,
      meta: [
        {
          hid: "meta-3",
          content: this.$i18n.messages[this.$i18n.locale].home_name,
          property: "og:site_name",
        },
        {
          hid: "meta-4",
          content: this.$i18n.messages[this.$i18n.locale].home_name,
          property: "og:title",
        },
        {
          hid: "meta-5",
          content:
            "https://lotusstory.org/" +
            this.$i18n.messages[this.$i18n.locale].shortcode,
          property: "og:url",
        },
        {
          hid: "meta-6",
          name: "twitter:title",
          content: this.$i18n.messages[this.$i18n.locale].home_name,
        },
        {
          hid: "meta-7",
          content: this.$i18n.messages[this.$i18n.locale].description,
          property: "og:description",
        },
      ],
    };
  },
};
</script>
