<template>
   <div class="row">
        <div class="col-md-12  mt-5 ">
            <div class="error-template mt-5">
                <h1 class="text-center">
                    Oops!</h1>
                <h2 class="text-center">
                   Something went wrong...</h2>
                <div class="error-details text-center">
                    Sorry, an error has occured, Request was failed!
                    Check please your internet connection and try to <router-link to="/">load page</router-link> again.
                </div>
              
            </div>
        </div>
    </div>
</template>

<script>
export default {
  layout: "empty",

}
</script>

<style>

</style>