<template>
  <transition name="fade">
    <div class="feedback">
      <div class="section-1">
        <div class="email" :class="$i18n.locale">
          <img
            src="../assets/images/feedback/letter.png"
            class="letter-img"
            alt="letter"
          />
          <h1>{{$t('review_email')}}</h1>
          <div class="email-border"></div>
          <p>myfairylotus@gmail.com</p>
        </div>
      </div>
      <div class="section-2">
        <b-form ref="form">
          <b-form-group
            :label="$t('review_name')"
            label-for="name-mob"
            name="name"
            invalid-feedback="Password must be at least 8 characters"
          >
            <b-form-input
              name="name"
              id="name-mob"
              v-model="form.name"
              required
              class="mb-3 transparent-input"
            ></b-form-input>
          </b-form-group>
          <b-form-group
            :label="$t('review_email')"
            label-for="email-mob"
            name="email"
            invalid-feedback="Password must be at least 8 characters"
          >
            <b-form-input
              name="email"
              id="email-mob"
              v-model="form.email"
              required
              class="mb-3 transparent-input"
            ></b-form-input>
          </b-form-group>

          <b-form-group
            :label="$t('text')"
            label-for="feedback-mob"
            invalid-feedback="Passwords do not match"
            name="feedback"
          >
            <b-form-textarea
              id="feedback-mob"
              v-model="form.feedback"
              required
              class="transparent-input"
              name="feedback"
            ></b-form-textarea>
          </b-form-group>
          <div class="thankyou-text">
            <p v-if="thanksForReview">{{ $t("review_thankyou") }}!</p>
          </div>

          <div class="custom-btn scale-img pointer" @click="sendFeedback">
            {{ $t("review_send") }}
          </div>
        </b-form>
      </div>
    </div>
  </transition>
</template>

<script>
import emailjs from "emailjs-com";

export default {
  data: function () {
    return {
      form: {
        name: "",
        email: "",
        feedback: "",
        thanksForReview: false,
      },
    };
  },
  methods: {
    sendFeedback() {
      let { name, email, feedback } = this.form;
      const re =
        /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

      try {
        emailjs
          .sendForm(
            "service_hhejkxe",
            "template_qpy04od",
            this.$refs.form,
            "user_lNdVxtgNbHuqr8EDZSARY"
          )
          .then(
            () => {
              if (name && re.test(String(email).toLowerCase()) && feedback) {
                this.form = {};
                this.thanksForReview = true;
              } else {
                console.log("else");
              }
            },
            (error) => {
              console.log(error.text);
            }
          );
      } catch (error) {
        console.log({ error });
      }
      // Reset form field
      // this.form = {};
      // this.thanksForReview = true;
      // setTimeout(() => {
      //   this.thanksForReview = false;
      //   this.reviewFormOpen = false;
      // }, 4000);
    },
  },
};
</script>
