<template>
  <transition name="fade">
    <div class="home position-relative overflow-hidden">
      <section class="section-1 mob-version">
        <!-- <img src="../assets/images/home/section-1/bacground_mobile.png" width="100%" alt="lotus"> -->
      </section>
      <section class="section-1 desktop-version position-relative">
        <div class="video-wraper">
          <video loop="loop" autoplay muted playsinline id="myVideo">
            <source src="../assets/video/Home.mp4" type="video/mp4" />
          </video>
        </div>
        <div class="links-block" :class="$i18n.locale">
          <img
            src="../assets/images/home/section-5/Girl.png"
            alt="girl"
            class="position-absolute girl-background"
          />
          <img
            src="../assets/images/home/section-5/Boy.png"
            alt="girl"
            class="position-absolute boy-background"
          />
          <NuxtLink
            class="nav-link blue-bubble scale-img text-center position-absolute"
            to="watch"
          >
            {{ $t("watch") }}
          </NuxtLink>
          <div>
            <NuxtLink
              class="
                nav-link
                scale-img
                little-purple-bubble
                text-center
                position-absolute
              "
              to="read"
            >
            </NuxtLink>
            <NuxtLink
              class="
                nav-link
                big-purple-bubble
                scale-img
                text-center
                position-absolute
              "
              to="read"
            >
              {{ $t("read_name") }}
            </NuxtLink>
          </div>
        </div>
      </section>
      <section class="section-2 mob-version" :class="$i18n.locale">
        <div class="d-flex justify-content-center h-100">
          <div class="blue-bubble align-self-center d-flex scale-img">
            <div class="align-self-center d-block text-center w-100">
              <NuxtLink class="nav-link" to="watch">{{ $t("watch") }}</NuxtLink>
            </div>
          </div>
        </div>
      </section>
      <section
        class="section-3 mob-version position-relative"
        :class="$i18n.locale"
      >
        <img
          src="../assets/images/home/section-5/Girl.png"
          alt="girl"
          class="position-absolute girl-background"
        />
        <img
          src="../assets/images/home/section-5/Boy.png"
          alt="girl"
          class="position-absolute boy-background"
        />
        <div class="d-flex justify-content-center">
          <NuxtLink class="nav-link scale-img" to="read">
            <div class="little-purple-bubble text-center"></div
          ></NuxtLink>
          <div class="big-purple-bubble scale-img">
            <div class="align-self-center d-block text-center w-100">
              <!-- <img src="../assets/images/book.svg" alt="" height="41px" /> -->
              <NuxtLink class="nav-link" to="read">
                {{ $t("read_name") }}</NuxtLink
              >
            </div>
          </div>
        </div>
      </section>
      <section class="section-4 text-center" :class="$i18n.locale">
        <h2>{{ $t("site_name") }}</h2>
        <p class="silver-text">
          {{ $t("fairy_tale_is_about") }}
        </p>
      </section>
      <section class="section-5 mob-version" :class="$i18n.locale">
        <div class="comments-title-block">
          <h2>{{ $t("comments") }}</h2>
          <!-- <p class="comments-word section-title">Comments</p> -->
        </div>
        <div class="background-section-5">
          <transition name="fade" v-if="!reviewFormOpen && !thanksForReview">
            <div>
              <div class="mr-4 ml-4 comment-block">
                <VueSlickCarousel
                  v-bind="carouselSettings"
                  ref="c1"
                  :asNavFor="c2"
                  :focusOnSelect="true"
                >
                  <div class="comment-content">
                    <p class="comment-body">
                      {{ $t("comment_1") }}
                    </p>
                    <p class="text-right comment-author">
                      — {{ $t("comment_author_1") }}
                    </p>
                  </div>
                  <div class="comment-content">
                    <p class="comment-body">
                      {{ $t("comment_2") }}
                    </p>
                    <p class="text-right comment-author">
                      — {{ $t("comment_author_2") }}
                    </p>
                  </div>
                  <div class="comment-content">
                    <p class="comment-body">
                      {{ $t("comment_3") }}
                    </p>
                    <p class="text-right comment-author">
                      — {{ $t("comment_author_3") }}
                    </p>
                  </div>
                </VueSlickCarousel>
                <div
                  class="custom-btn scale-img"
                  @click="reviewFormOpen = true"
                >
                  {{ $t("review_review") }}
                </div>
              </div>

              <VueSlickCarousel
                cssEase="linear"
                :fade="true"
                class="px-1 images-carousel"
                ref="c2"
              >
                <div class="fishes-feedback-section">
                  <!-- <div>1</div>
                    <div>2</div>
                    <div>3</div>
                    <div>4</div> -->
                  <img
                    class="left-bubbles"
                    src="../assets/images/home/section-5/bubbles_1.png"
                    alt="bubbles_left"
                  />
                  <img
                    class="right-bubbles"
                    src="../assets/images/home/section-5/bubbles_2.png"
                    alt="bubbles_right"
                  />

                  <img
                    class="left-fish"
                    src="../assets/images/home/section-5/left_fish.png"
                    alt="left-fish"
                  />
                  <img
                    class="right-fish"
                    src="../assets/images/home/section-5/right_fish.png"
                    alt="right-fish"
                    data-not-lazy
                  />
                </div>
                <div class="lotus-feedback-section">
                  <img
                    class="left-butterfly"
                    src="../assets/images/home/section-5/butterfly_left.png"
                    alt="left-butterfly"
                  />
                  <img
                    class="right-butterfly"
                    src="../assets/images/home/section-5/butterfly_right.png"
                    alt="right-butterfly"
                  />
                  <img
                    class="lotus"
                    src="../assets/images/home/section-5/lotus.png"
                    alt="lotus"
                  />
                </div>
              </VueSlickCarousel>
            </div>
          </transition>
          <transition name="fade" v-if="reviewFormOpen && !thanksForReview">
            <div class="form-block">
              <b-form ref="form">
                <img
                  src="../assets/images/home/feedback-section/close.svg"
                  alt="close"
                  class="close-btn pointer"
                  @click="reviewFormOpen = false"
                />
                <b-form-group
                  :label="$t('review_name')"
                  label-for="name-mob"
                  name="name"
                  invalid-feedback="Password must be at least 8 characters"
                >
                  <b-form-input
                    name="name"
                    id="name-mob"
                    v-model="form.name"
                    required
                    class="mb-3 transparent-input"
                  ></b-form-input>
                </b-form-group>
                <b-form-group
                  :label="$t('review_email')"
                  label-for="email-mob"
                  name="email"
                  invalid-feedback="Password must be at least 8 characters"
                >
                  <b-form-input
                    name="email"
                    id="email-mob"
                    v-model="form.email"
                    required
                    class="mb-3 transparent-input"
                  ></b-form-input>
                </b-form-group>

                <b-form-group
                  :label="$t('review_review')"
                  label-for="feedback-mob"
                  invalid-feedback="Passwords do not match"
                  name="feedback"
                >
                  <b-form-textarea
                    id="feedback-mob"
                    v-model="form.feedback"
                    required
                    class="transparent-input"
                    name="feedback"
                  ></b-form-textarea>
                </b-form-group>
                <div class="custom-btn scale-img" @click="sendEmail">
                  {{ $t("review_send") }}
                </div>
              </b-form>

              <div class="fishes-feedback-section">
                <img
                  class="left-bubbles"
                  src="../assets/images/home/section-5/bubbles_left_section5.svg"
                  alt="bubbles_left"
                />
                <img
                  class="right-bubbles"
                  src="../assets/images/home/section-5/bubbles_right_section5.svg"
                  alt="bubbles_right"
                />

                <img
                  class="left-fish"
                  src="../assets/images/home/section-5/left_fish.png"
                  alt="left-fish"
                />
                <img
                  class="right-fish"
                  src="../assets/images/home/section-5/right_fish.png"
                  alt="right-fish"
                  data-not-lazy
                />
              </div></div
          ></transition>
          <transition name="fade" v-if="thanksForReview">
            <div class="mt-5">
              <h1 class="text-center silver-text thankyou-text pt-5">
                {{ $t("review_thankyou") }}!
              </h1>
            </div></transition
          >
        </div>
      </section>

      <section class="section-5 desktop-version" :class="$i18n.locale">
        <div class="comment-title-block">
          <h2>{{ $t("comments") }}</h2>
        </div>
        <div class="background-section-5">
          <transition name="fade" v-if="!reviewFormOpen && !thanksForReview">
            <div class="d-flex custom-container w-100">
              <div class="w-50" :class="$i18n.locale">
                <VueSlickCarousel
                  v-bind="carouselSettings"
                  ref="c3"
                  :asNavFor="c4"
                  :focusOnSelect="true"
                >
                  <div>
                    <p class="comment-body m-auto">
                      {{ $t("comment_1") }}
                    </p>
                    <p class="text-right comment-author m-auto">
                      — {{ $t("comment_author_1") }}
                    </p>
                  </div>
                  <div>
                    <p class="comment-body m-auto">
                      {{ $t("comment_2") }}
                    </p>
                    <p class="text-right comment-author m-auto">
                      — {{ $t("comment_author_2") }}
                    </p>
                  </div>
                  <div>
                    <p class="comment-body m-auto">
                      {{ $t("comment_3") }}
                    </p>
                    <p class="text-right comment-author m-auto">
                      — {{ $t("comment_author_3") }}
                    </p>
                  </div>
                </VueSlickCarousel>

                <div
                  class="custom-btn scale-img pointer"
                  @click="reviewFormOpen = true"
                >
                  {{ $t("review_review") }}
                </div>
              </div>
              <div class="w-50">
                <VueSlickCarousel
                  cssEase="linear"
                  :fade="true"
                  class="px-1 images-carousel"
                  ref="c4"
                >
                  <div class="fishes-feedback-section">
                    <img
                      class="left-bubbles"
                      src="../assets/images/home/section-5/bubbles_1.png"
                      alt="bubbles_left"
                    />
                    <img
                      class="right-bubbles"
                      src="../assets/images/home/section-5/bubbles_2.png"
                      alt="bubbles_right"
                    />

                    <img
                      class="left-fish"
                      src="../assets/images/home/section-5/left_fish_desktop.png"
                      alt="left-fish"
                    />
                    <img
                      class="right-fish"
                      src="../assets/images/home/section-5/right_fish.png"
                      alt="right-fish"
                      data-not-lazy
                    />
                  </div>
                  <div class="lotus-feedback-section">
                    <img
                      class="left-butterfly"
                      src="../assets/images/home/section-5/butterfly_left.png"
                      alt="left-butterfly"
                    />
                    <img
                      class="right-butterfly"
                      src="../assets/images/home/section-5/butterfly_right.png"
                      alt="right-butterfly"
                    />
                    <img
                      class="lotus"
                      src="../assets/images/home/section-5/lotus.png"
                      alt="lotus"
                    />
                  </div>
                </VueSlickCarousel>
              </div>
            </div>
          </transition>
          <transition name="fade" v-if="reviewFormOpen && !thanksForReview">
            <div>
              <form ref="form">
                <img
                  src="../assets/images/home/feedback-section/close.svg"
                  alt="close"
                  class="close-btn pointer"
                  @click="reviewFormOpen = false"
                />
                <b-form-group
                  :label="$t('review_name')"
                  label-for="name"
                  name="name"
                  invalid-feedback="Password must be at least 8 characters"
                >
                  <b-form-input
                    name="name"
                    id="name"
                    v-model="form.name"
                    required
                    class="mb-3 transparent-input"
                  ></b-form-input>
                </b-form-group>
                <b-form-group
                  :label="$t('review_email')"
                  label-for="email"
                  name="email"
                  invalid-feedback="Password must be at least 8 characters"
                >
                  <b-form-input
                    name="email"
                    id="email"
                    v-model="form.email"
                    required
                    class="mb-3 transparent-input"
                  ></b-form-input>
                </b-form-group>

                <b-form-group
                  :label="$t('review_review')"
                  label-for="feedback"
                  invalid-feedback="Passwords do not match"
                  name="feedback"
                >
                  <b-form-textarea
                    id="feedback"
                    v-model="form.feedback"
                    required
                    class="transparent-input"
                    name="feedback"
                  ></b-form-textarea>
                </b-form-group>

                <div class="custom-btn scale-img" @click="sendEmail">
                  {{ $t("review_send") }}
                </div>
              </form>
            </div></transition
          >
          <transition name="fade" v-if="thanksForReview">
            <div class="mt-5">
              <h1 class="text-center silver-text thankyou-text pt-5">
                {{ $t("review_thankyou") }}!
              </h1>
            </div></transition
          >
        </div>
      </section>
    </div></transition
  >
</template>

<script>
import VueSlickCarousel from "vue-slick-carousel";
import "vue-slick-carousel/dist/vue-slick-carousel.css";
import emailjs from "emailjs-com";
import "vue-slick-carousel/dist/vue-slick-carousel-theme.css";

export default {
  layout: "layoutHome",

  data() {
    return {
      carouselSettings: {
        arrows: true,
        dots: true,
        autoplay: true,
        autoplaySpeed: 8000,
        cssEase: "linear",
        fade: true,
      },
      c1: undefined,
      c2: undefined,
      c3: undefined,
      c4: undefined,
      form: {
        name: "",
        email: "",
        feedback: "",
      },
      content: {},
      reviewFormOpen: false,
      thanksForReview: false,
    };
  },
  components: {
    VueSlickCarousel,
  },
  computed: {
    isSoundEnabled() {
      return this.$store.state.isSoundEnabled;
    },
  },
  methods: {
    sendReview() {},
    sendEmail() {
      let { name, email, feedback } = this.form;
      const re =
        /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

      try {
        emailjs
          .sendForm(
            "service_hhejkxe",
            "template_qpy04od",
            this.$refs.form,
            "user_lNdVxtgNbHuqr8EDZSARY"
          )
          .then(
            (result) => {
              if (name && re.test(String(email).toLowerCase()) && feedback) {
                this.form = {};
                this.thanksForReview = true;
                setTimeout(() => {
                  this.thanksForReview = false;
                  this.reviewFormOpen = false;
                }, 4000);
              } else {
                console.log("else");
              }
            },
            (error) => {
              console.log(error.text);
            }
          );
      } catch (error) {
        console.log({ error });
      }
      // Reset form field
      // this.form = {};
      // this.thanksForReview = true;
      // setTimeout(() => {
      //   this.thanksForReview = false;
      //   this.reviewFormOpen = false;
      // }, 4000);
    },
  },
  created() {
    this.content = this.$i18n.messages[this.$i18n.locale];
  },
  mounted() {
    this.c1 = this.$refs.c1;
    this.c2 = this.$refs.c2;
    this.c3 = this.$refs.c3;
    this.c4 = this.$refs.c4;
  },
  head() {
    return {
      title: this.content.site_name + " — " + this.content.home_name,
      meta: [
        {
          hid: "meta-3",
          content: this.content.home_name,
          property: "og:site_name",
        },
        {
          hid: "meta-4",
          content: this.content.home_name,
          property: "og:title",
        },
        {
          hid: "meta-5",
          content: "https://lotusstory.org/" + this.content.shortcode,
          property: "og:url",
        },
        {
          hid: "meta-6",
          name: "twitter:title",
          content: this.content.home_name,
        },
        {
          hid: "meta-7",
          content: this.content.description,
          property: "og:description",
        },
      ],
    };
  },
};
</script>

