<template>
  <transition name="fade">
    <div ref="read" class="read" :key="componentKey">
      <!-- Desktop Version -->
      <div class="read-desktop-version">
        <div class="book_border" :class="$i18n.locale">
          <!-- Desk BG -->
          <img
            src="../assets/images/read/background.png"
            alt="book"
            class="book_background"
            width="100%"
            height="auto"
          />

          <!-- Book -->
          <div
            id="bookParentElement"
            :dir="$store.getters['LANG_GROUP'] === 'ltr' ? 'ltr' : 'rtl'"
            :class="{ 'text-right': $store.getters['LANG_GROUP'] === 'rtl', 'text-left': $store.getters['LANG_GROUP'] === 'ltr' }"
        
          >
            <div class="pages">
              <DesktopPage v-for="i in 30" :key="i" class="my-page" :i="i" />
            </div>
          </div>

          <!-- Navigation -->
          <div class="arrow-section">
            <div class="d-flex justify-content-between">
              <img
                @click="turnPage('prev', 'desktop')"
                src="../assets/images/read/arrow.svg"
                alt="arrow"
                class="pointer left-arrow arrow"
              />
              <img
                @click="turnPage('next', 'desktop')"
                src="../assets/images/read/arrow.svg"
                alt="arrow"
                class="pointer arrow"
              />
            </div>
          </div>
        </div>

        <!-- Footer -->
        <div class="read_footer" v-if="$store.getters['LANG_GROUP'] === 'ltr'">
          <div class="d-flex justify-content-center pages-block">
            <!-- Prev -->
            <img
              @click="turnPage('prev', 'desktop')"
              src="../assets/images/read/arrow.svg"
              alt="arrow"
              class="pointer left-arrow footer-arrow"
            />

            <!-- "PAGES" -->
            <p class="mx-3 text-uppercase">{{ $t("pages") }}</p>

            <!-- Page numbers -->
            <p
              v-for="index in 15"
              :key="index"
              class="pointer mx-2"
              :class="{ clicked: isCurrentDesktopPage(index) }"
              @click="changePage(index, 'desktop')"
            >
              {{ index }}
            </p>

            <!-- Next -->
            <img
              @click="turnPage('next', 'desktop')"
              src="../assets/images/read/arrow.svg"
              alt="arrow"
              class="pointer footer-arrow"
            />
          </div>
        </div>
        <div class="read_footer" v-else dir="rtl">
          <div class="d-flex justify-content-center pages-block">
            <!-- Next -->
            <img
              @click="turnPage('next', 'desktop')"
              src="../assets/images/read/arrow.svg"
              alt="arrow"
              class="pointer footer-arrow"
            />
            <!-- "PAGES" -->
            <p class="mx-3 text-uppercase">{{ $t("pages") }}</p>

            <!-- Page numbers -->
            <p
              v-for="index in 15"
              :key="index"
              class="pointer mx-2"
              :class="{ clicked: isCurrentDesktopPage(15 - index + 1) }"
              @click="changePage(15 - index + 1, 'desktop')"
            >
              {{ index }}
            </p>
            <!-- Prev -->
            <img
              @click="turnPage('prev', 'desktop')"
              src="../assets/images/read/arrow.svg"
              alt="arrow"
              class="pointer left-arrow footer-arrow"
            />
          </div>
        </div>
      </div>

      <!-- Mobile Version -->
      <div class="mobile-reader">
        <div class="top">
          <!-- Top Part -->
          <div class="image">
            <div
              class="image-slides"
              :class="{ rtl: $store.getters['LANG_GROUP'] === 'rtl' }"
              :current="currentMobPage"
            >
              <div
                v-for="i in 15"
                :key="i"
                :class="`slide page page-${i * 2}`"
              ></div>
            </div>
          </div>

          <!-- Navigation Arrows -->
          <div
            class="navigation"
            :class="{ rtl: $store.getters['LANG_GROUP'] === 'rtl' }"
            :current="currentMobPage"
          >
            <div
              class="left-arrow"
              @click="turnPage($store.getters['LANG_GROUP'] === 'rtl' ? 'next' : 'prev', 'mob')"
            ></div>
            <div
              class="right-arrow"
              @click="turnPage($store.getters['LANG_GROUP'] === 'rtl' ? 'prev' : 'next', 'mob')"
            ></div>
          </div>
        </div>

        <!-- Bottom Part -->
        <div class="bottom" :class="$i18n.locale">
          <div
            class="content-slides"
            :class="{ rtl: $store.getters['LANG_GROUP'] === 'rtl' }"
            :current="currentMobPage"
          >
            <MobileContentSlide v-for="i in 15" :key="i" :i="i" />
          </div>
        </div>

        <div
          class="pagination"
          :class="{ rtl: $store.getters['LANG_GROUP'] === 'rtl' }"
          :current="currentMobPage"
        >
          <div class="pages">
            <p
              v-for="i in 15"
              :ref="'to-page-' + i"
              :id="'to-page-' + i"
              :key="i"
              class="pointer"
              :class="{ clicked: currentMobPage == i }"
              @click="changePage(i, 'mob')"
            >
              {{ i }}
            </p>
          </div>
        </div>

        <div id="swipe-dummy"></div>

        <!-- Wave Mask -->
        <svg viewBox="0 0 1 1.5">
          <defs>
            <clipPath clipPathUnits="objectBoundingBox" id="wave-mask">
              <path
                d="M.51.94A.73.73,0,0,0,0,1V0H1V.94A.84.84,0,0,1,.51.94Z"
                style="fill: #fff"
              />
            </clipPath>
          </defs>
        </svg>
      </div>
    </div>
  </transition>
</template>


<script>
import { PageFlip } from "page-flip";
import "../assets/css/read.scss";
import qs from "qs";
import { gsap } from "gsap/dist/gsap";
import { Draggable } from "gsap/dist/Draggable";

export default {
  layout: "layoutRead",
  data: function () {
    return {
      lotusText: {},
      pageFlipDesktop: {},
      currentMobPage: 1,
      textDirection: "left",
      pagesWithSymbols: [3, 8],
      symbols: [
        { name: "zhen", filename: "Zhen.png" },
        { name: "shan", filename: "Shan.png" },
        { name: "ren", filename: "Ren.png" },
      ],
      componentKey: "ltr",
    };
  },

  watch: {
    "$i18n.locale": function (newLang) {
      this.getData(newLang);
    },
  },

  methods: {
    getData(newLang = this.$i18n.locale) {
      this.$axios({
        method: "POST",
        headers: { "content-type": "application/x-www-form-urlencoded" },
        data: qs.stringify({
          key: "298735498j",
          action: "tale_text",
          language: newLang,
        }),
        url: "https://get.lotusstory.org/ajaxurl",
      }).then((res) => {
        this.lotusText = res.data;
      });
    },

    onResize() {
      // const winHeight = window.innerHeight;
      // this.$refs.read.style.cssText = `min-height: ${winHeight}px`;
    },

    isCurrentDesktopPage(i) {
      const pf = this.pageFlipDesktop;
      const pf_i = i * 2 - 2;
      // if PageFlip is not loaded yet - current page = 0
      const currentPFpage = pf.getCurrentPageIndex
        ? pf.getCurrentPageIndex()
        : 0;
      return currentPFpage == pf_i;
    },

    changePage(targetPage, device) {
      if (device == "mob") {
        this.currentMobPage = targetPage;
      }

      if (device == "desktop") {
        this.pageFlipDesktop.flip(targetPage * 2 - 2);
      }
    },

    turnPage(direction, device) {
      if (device == "mob") {
        switch (direction) {
          case "next":
            this.currentMobPage < 15 && this.currentMobPage++;
            break;
          case "prev":
            this.currentMobPage > 1 && this.currentMobPage--;
            break;
        }
      }

      if (device == "desktop") {
        switch (direction) {
          case "next":
            this.pageFlipDesktop.flipNext();
            break;
          case "prev":
            this.pageFlipDesktop.flipPrev();
            break;
        }
      }
    },

    swipe(direction) {
      let turnDirection;
      
      switch (direction) {
        case "left":
          turnDirection = this.$store.getters['LANG_GROUP'] === 'rtl' ? "prev" : "next";
          this.turnPage(turnDirection, "mob");
          break;
        case "right":
          turnDirection = this.$store.getters['LANG_GROUP'] === 'rtl' ? "next" : "prev";
          this.turnPage(turnDirection, "mob");
          break;
      }
    },

    setupSwipes() {
      gsap.registerPlugin(Draggable);
      const vue = this;
      const swipeDummy = "#swipe-dummy";

      Draggable.create(swipeDummy, {
        type: "x",
        trigger: ".mobile-reader",
        allowNativeTouchScrolling: true,
        // minimumMovement: 10,
        dragResistance: 0.65,
        // bounds: {minX: -50, maxX: 50},
        onDrag: function () {
          gsap.set(".image-slides", { x: this.x * 0.06 });
          gsap.set(".content-slides", { x: this.x });
        },
        onDragEnd: function (e) {
          // Bring elements back to initial positions,
          // to be ready for the next swipe
          gsap.set(".image-slides", { x: "0" });
          gsap.set(".content-slides", { x: "0" });
          gsap.set(".mobile-reader", { x: "0" });
          gsap.set(swipeDummy, { x: "0" });
          console.log(this.x);

          if (Math.abs(this.x) > 25) {
            // If swiped left/right - change current page accordingly
            // this = Draggable instance here
            vue.swipe(this.getDirection());
          }

          gsap.set('.mobile-reader', {clearProps: 'all'});
          gsap.set('.image-slides', {clearProps: 'all'});
          gsap.set('.content-slides', {clearProps: 'all'});
          gsap.set(swipeDummy, {clearProps: 'all'});
        },
      });
    },
  },

  created() {
    this.getData();
  },

  unmounted() {
    // window.removeEventListener("resize", this.onResize);
  },

  mounted() {
    // this.onResize();
    // window.addEventListener("resize", this.onResize);
    this.setupSwipes();

    if (this.$store.getters["LANG_GROUP"] === "rtl")
      this.textDirection = "right";

    // desktop ищщл ыуеештпы
    const settingsDesktop = {
      width: 750, // required parameter - base page width
      height: 760, // required parameter - base page height
      startPage: 1,
      stretch: true,
      size: "stretch",
    };

    if (this.$store.getters["LANG_GROUP"] === "rtl")
      settingsDesktop.startPage = 28;

    const bookParentElement = document.querySelector("#bookParentElement");
    this.pageFlipDesktop = new PageFlip(bookParentElement, settingsDesktop);
    this.pageFlipDesktop.loadFromHTML(
      this.$store.getters["LANG_GROUP"] === "ltr"
        ? document.querySelectorAll(".my-page")
        : Array.from(document.querySelectorAll(".my-page")).reverse()
    );
  },
  head() {
    return {
      title:
        this.$i18n.messages[this.$i18n.locale].site_name +
        " — " +
        this.$i18n.messages[this.$i18n.locale].read_name,
      meta: [
        {
          hid: "meta-3",
          content: this.$i18n.messages[this.$i18n.locale].home_name,
          property: "og:site_name",
        },
        {
          hid: "meta-4",
          content: this.$i18n.messages[this.$i18n.locale].home_name,
          property: "og:title",
        },
        {
          hid: "meta-5",
          content:
            "https://lotusstory.org/" +
            this.$i18n.messages[this.$i18n.locale].shortcode,
          property: "og:url",
        },
        {
          hid: "meta-6",
          name: "twitter:title",
          content: this.$i18n.messages[this.$i18n.locale].home_name,
        },
        {
          hid: "meta-7",
          content: this.$i18n.messages[this.$i18n.locale].description,
          property: "og:description",
        },
      ],
    };
  },
};
</script>