<template>
  <transition name="fade">
    <div class="watch position-relative">
      <div class="video-container">
        <iframe
       
          :src="videoLink"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
          autoplay
          class="youtube-iframe mob-version"
        ></iframe>
        <iframe
          width="1120"
          height="630"
          :src="videoLink"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
          autoplay
          class="youtube-iframe desktop-version"
        ></iframe>
      </div>
    </div>
  </transition>
</template>

<script>
import "../assets/css/watch.scss";
import qs from "qs";

export default {
  data: function () {
    return {
      videoLink: "",
      isLoading: false,
    };
  },
  watch: {
    "$i18n.locale": function (newLang, oldVal) {
      this.getData(newLang);
    },
  },
  methods: {
    getData(newLang = this.$i18n.locale) {
      this.isLoading = true;
      this.$axios({
        method: "POST",
        headers: { "content-type": "application/x-www-form-urlencoded" },
        data: qs.stringify({
          key: "298735498j",
          action: "lang_video",
          language: newLang,
        }),
        url: "https://get.lotusstory.org/ajaxurl",
      }).then((res) => {
        this.isLoading = false;

        if (!res.data.error) {
          let videoId = res.data.link.includes(
            "https://www.youtube.com/watch?v="
          )
            ? res.data.link.split("https://www.youtube.com/watch?v=")[1]
            : res.data.link.split("https://youtu.be/")[1];
          this.videoLink = "https://www.youtube.com/embed/" + videoId;
        } else this.videoLink = "https://www.youtube.com/embed/d7z0Z7A4CDk";
      });
    },
  },
  created() {
    this.getData();
  },
 head() {
    return {
      // title: 'test',
      title: this.$i18n.messages[this.$i18n.locale].site_name + " — " + this.$i18n.messages[this.$i18n.locale].watch,
      meta: [
        {
          hid: "meta-3",
          content: this.$i18n.messages[this.$i18n.locale].home_name,
          property: "og:site_name",
        },
        {
          hid: "meta-4",
          content: this.$i18n.messages[this.$i18n.locale].home_name,
          property: "og:title",
        },
        {
          hid: "meta-5",
          content: "https://lotusstory.org/" + this.$i18n.messages[this.$i18n.locale].shortcode,
          property: "og:url",
        },
        {
          hid: "meta-6",
          name: "twitter:title",
          content: this.$i18n.messages[this.$i18n.locale].home_name,
        },
        {
          hid: "meta-7",
          content: this.$i18n.messages[this.$i18n.locale].description,
          property: "og:description",
        },
      ],
    };
  },
};
</script>
